.error-page {
  width: 100%;
}
.error-main {
  width: 100%;
}
.error-content {
  width: 100%;
  padding: 200px 100px 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include md {
    padding: 160px 60px 200px;
  }
  @include sm {
    padding: 160px 20px 200px;
  }
}
.error-icon {
  margin-bottom: 45px;
  @include md {
    width: 200px;
    img {
      width: 100%;
    }
  }
  @include sm {
    width: 125px;
    margin-bottom: 30px;
  }
}
.error-title {
  color: #ff5c00;
  text-align: center;
  font-family: "Druk Wide Cyr";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
  @include sm {
    font-size: 16px;
  }
}
.error-link {
  color: var(--text, #232323);
  font-family: Gilroy;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 10px;
  @include sm {
    max-width: 220px;
    text-align: center;
    font-size: 16px;
    flex-direction: column;
  }
}
