.externat-page {
  width: 100%;
  .kindergarten-first-fluid {
    padding: 130px 30px 0;
    margin-bottom: 167px;
    @include md {
      padding: 240px 30px 0;
      margin-bottom: 210px;
    }
    @include sm {
      padding: 80px 20px 0;
      margin-bottom: 143px;
    }
  }
  .kindergarten-first-left {
    width: 45.952%;
    @include sm {
      width: 100%;
    }
  }
}
.externat-main {
  width: 100%;
}
.externat-first-name {
  font-family: "Druk Wide Cyr";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  text-transform: uppercase;
  color: #0cc4e9;
  margin-bottom: 40px;
  @include md {
    font-size: 24px;
    line-height: 29px;
  }
  @include sm {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
}
.externat-first-prices {
  margin-bottom: 55px;
  @include sm {
    margin-bottom: 40px;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #232323;
    margin-bottom: 5px;
    @include md {
      font-size: 17px;
      line-height: 22px;
    }
    @include sm {
      max-width: 225px;
      margin: 0 auto;
      font-size: 12px;
      line-height: 14px;
    }
  }
}

.externat-packages-fluid {
  width: 100%;
  padding: 0 30px;
  margin-bottom: 160px;
  background: #daf9ff;
  @include sm {
    padding: 0 20px;
    margin-bottom: 100px;
  }
}
.externat-packages-centered {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 80px;
  @include md {
    padding-bottom: 90px;
  }
  @include sm {
    padding-bottom: 40px;
  }
}
.externat-packages-title {
  width: 383px;
  height: 130px;
  background: #0cc4e9;
  border-radius: 0px 30px 30px 0px;
  font-family: "Druk Wide Cyr";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 48px;
  display: flex;
  align-items: center;
  transform: translateY(-65px);
  margin-bottom: -20px;
  @include md {
    width: 374px;
    height: 130px;
    transform: translate(-30px, -65px);
    font-size: 28px;
    line-height: 34px;
    padding-left: 30px;
  }
  @include sm {
    width: 205px;
    height: 84px;
    background: #0cc4e9;
    border-radius: 0px 15px 15px 0px;
    font-size: 16px;
    line-height: 150%;
    padding-left: 20px;
    transform: translate(-20px, -42px);
    margin-bottom: 0;
  }
}
.externat-packages-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.externat-packages-content-text {
  width: 70%;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #232323;
  padding-left: 50px;
  border-left: 5px solid #0cc4e9;
  @include md {
    font-size: 18px;
    line-height: 22px;
    padding-left: 40px;
  }
  @include sm {
    border-left: 2px solid #0cc4e9;
    font-size: 16px;
    line-height: 19px;
    padding-left: 20px;
    width: 100%;
  }
}
.externat-packages-content-icon {
  width: 85px;
  height: 85px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  @include sm {
    display: none;
  }
}

.externat-variants-fluid {
  width: 100%;
  padding: 0 30px;
  margin: 160px 0;
  @include sm {
    padding: 0 20px;
    margin: 100px 0;
  }
}
.externat-variants-center {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}
.externat-variants-item {
  display: flex;
  cursor: pointer;
  &.item2 {
    margin-top: 80px;
    justify-content: flex-end;
    .externat-variants-item-rect {
      background: #0cc4e9;
      align-items: flex-start;
      @include sm {
        align-items: center;
      }
    }
    .externat-variants-item-bottom span {
      margin-right: 0;
      margin-left: 20px;
      @include sm {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
      }
    }
    .externat-variants-item-icon {
      right: auto;
      bottom: auto;
      top: 0;
      left: -229px;
      @include md {
        top: auto;
        width: 111px;
        bottom: -75px;
        left: 10px;
        z-index: -1;
        img {
          width: 100%;
        }
      }
      @include sm {
        width: 55px;
        bottom: auto;
        left: 10px;
        top: -30px;
      }
    }
    @include sm {
      margin-top: 60px;
    }
  }
}

.externat-variants-item-rect {
  width: 716px;
  height: 250px;
  background: #24e2ab;
  border-radius: 30px;
  padding: 61px 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  @include md {
    padding: 61px 47px;
    width: 100%;
  }
  @include sm {
    border-radius: 12px;
    padding: 20px 33px;
    align-items: center;
    height: 150px;
  }
}
.externat-variants-item-title {
  font-family: "Druk Wide Cyr";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 46px;
  @include sm {
    text-align: center;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 25px;
  }
}
.externat-variants-item-bottom {
  display: flex;
  align-items: center;
  span {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    color: #ffffff;
    display: block;
    margin-right: 20px;
  }
  @include sm {
    span {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
    }
    img {
      width: 32px;
      height: 32px;
    }
  }
}
.externat-variants-item-icon {
  position: absolute;
  bottom: 0;
  right: -229px;
  @include md {
    width: 111px;
    bottom: -75px;
    right: 10px;
    z-index: -1;
    img {
      width: 100%;
    }
  }
  @include sm {
    width: 55px;
    bottom: -35px;
  }
}

.externat-form-fluid {
  width: 100%;
  position: relative;
  padding: 0 30px;
  margin: 160px 0;
  @include md {
    padding: 0 45px;
  }
  @include sm {
    padding: 0;
    margin: 100px 0;
  }
}
.externat-form-rectangle {
  width: 100%;
  height: 637px;
  background: #daf9ff;
  position: absolute;
  top: 0;
  left: 0;
  @include md {
    height: 850px;
  }
}
.externat-form-centered {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  @include md {
    flex-direction: column;
    align-items: center;
  }
  @include sm {
    padding-top: 60px;
  }
}
.externat-form-left {
  width: 46%;
  @include md {
    width: 65%;
  }
  @include sm {
    width: 100%;
    padding: 0 20px;
  }
}
.externat-form-left-item {
  margin-bottom: 45px;
  position: relative;
  z-index: 2;
  p {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    strong {
      font-weight: 600;
    }
  }
  @include md {
    max-width: 440px;
    p {
      text-align: center;
      &.tablet-left {
        text-align: left;
      }
    }
  }
  @include sm {
    p {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 15px;
    }
  }
}
.externat-form-left-item-heading {
  font-family: "Druk Wide Cyr";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #232323;
  margin-bottom: 15px;
  @include md {
    text-align: center;
  }
  @include sm {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 15px;
  }
}
.externat-form-left-info {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #232323;
  margin-top: 65px;
  position: relative;
  z-index: 2;
  @include md {
    text-align: center;
    margin-bottom: 60px;
  }
  @include sm {
    font-size: 10px;
    line-height: 12px;
  }
}
.externat-form-right {
  width: 50%;
  background: #ffe1d0;
  border-radius: 40px;
  position: relative;
  z-index: 2;
  padding: 60px;
  @include md {
    width: 100%;
  }
  @include sm {
    border-radius: 0px;
    padding: 60px 20px;
  }
}
.externat-form-right-title {
  font-family: "Druk Wide Cyr";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #ff5c00;
  margin-bottom: 40px;
  @include sm {
    font-size: 16px;
    line-height: 150%;
  }
}

.externat-form-select {
  width: 100%;
  position: relative;
  z-index: 2;
  margin-bottom: 40px;
  &::before {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    top: 17px;
    right: 22px;
    transform: rotate(-45deg);
    border-left: 2px solid #b6b6b6;
    border-bottom: 2px solid #b6b6b6;
    z-index: 3;
  }
  &.error {
    border: 1px solid #e61777;
    border-radius: 10px;
    .input-error-text {
      display: block;
    }
  }
  @include md {
  }
  @include sm {
    width: 100%;
    margin-bottom: 30px;
    &::before {
      content: "";
      position: absolute;
      width: 7px;
      height: 7px;
      top: 19px;
      right: 24px;
      border-left: 1px solid #b6b6b6;
      border-bottom: 1px solid #b6b6b6;
    }
  }
}

.select-css {
  height: 50px;
  width: 100%;
  display: block;
  background: #ffffff;
  border-radius: 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  position: relative;
  padding: 14px 20px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #0d0c1d;
  border: none;
  &:invalid {
    color: #b6b6b6;
  }
  @include sm {
    font-size: 14px;
    line-height: 17px;
  }
}
.select-css::-ms-expand {
  display: none;
}
.select-css:hover {
  border-color: #888;
}
.select-css:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  // color: #222;
  outline: none !important;
}
.select-css option {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #0d0c1d;
}

.externat-form-input {
  width: 100%;
  position: relative;
  margin-bottom: 40px;
  @include sm {
    margin-bottom: 30px;
  }
  input {
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background: #ffffff;
    border-radius: 10px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #0d0c1d;
    border: none;
    &::placeholder {
      color: #b6b6b6;
    }
    @include sm {
      font-size: 14px;
      line-height: 17px;
    }
  }
  .error-text {
    position: absolute;
    bottom: -24px;
    right: 0;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #e61777;
    display: none;
  }
  &.error {
    border: 1px solid #e61777;
    .error-text {
      display: block;
    }
  }
}

.externat-form-btn {
  cursor: pointer;
  width: 100%;
  height: 50px;
  background: #ff5c00;
  border-radius: 10px;
  border: none;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: linear-gradient(267.87deg, #ffb800 -14.66%, #ff5c00 39.02%, #ff380c 99.52%);
  }
}

// popups

.escort-popup-content {
  width: 1030px;
  background: #dcf9f0;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 100px 100px 80px;
  &.independent {
    background: #daf9ff;
  }
  @include md {
    max-width: 708px;
    padding: 80px 66px;
  }
  @include sm {
    width: 100%;
    min-height: 100%;
    border-radius: 0;
    padding: 60px 20px 60px 40px;
  }
}
.escort-popup-close {
  position: absolute;
  right: 24px;
  top: 24px;
}
.escort-popup-inner {
}
.escort-popup-point {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #232323;
  margin-bottom: 11px;
  text-align: center;
  @include sm {
    font-size: 16px;
    line-height: 20px;
  }
}
.escort-popup-title {
  font-family: "Druk Wide Cyr";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: #ff5c00;
  margin-bottom: 50px;
  @include sm {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 35px;
  }
}
.escort-popup-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  @include sm {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
.escort-popup-item {
}
.escort-popup-item-name {
  font-family: "Druk Wide Cyr";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #232323;
  margin-bottom: 20px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -26px;
    width: 16px;
    height: 16px;
    background: url("../images/icon46.svg") no-repeat center center;
  }
  @include md {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 15px;
  }
  @include sm {
    font-size: 12px;
    margin-bottom: 5px;
    &::after {
      top: 4px;
      left: -21px;
    }
  }
}
.escort-popup-item-description {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #232323;
  @include md {
    font-size: 18px;
    line-height: 22px;
  }
  @include sm {
    font-size: 12px;
  }
}
