@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  src: url("../fonts/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Regular.ttf") format("truetype"), url("../fonts/Gilroy-Regular.woff") format("woff"),
    url("../fonts/Gilroy-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  src: url("../fonts/Gilroy-Medium.eot");
  src: url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Medium.ttf") format("truetype"), url("../fonts/Gilroy-Medium.woff") format("woff"),
    url("../fonts/Gilroy-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  src: url("../fonts/Gilroy-SemiBold.eot");
  src: url("../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-SemiBold.ttf") format("truetype"), url("../fonts/Gilroy-SemiBold.woff") format("woff"),
    url("../fonts/Gilroy-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  src: url("../fonts/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Bold.ttf") format("truetype"), url("../fonts/Gilroy-Bold.woff") format("woff"),
    url("../fonts/Gilroy-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Druk Wide Cyr";
  font-weight: 500;
  src: url("../fonts/DrukWideCyr-Medium.eot");
  src: url("../fonts/DrukWideCyr-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DrukWideCyr-Medium.ttf") format("truetype"), url("../fonts/DrukWideCyr-Medium.woff") format("woff"),
    url("../fonts/DrukWideCyr-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Druk Wide Cyr";
  font-weight: 700;
  src: url("../fonts/DrukWideCyr-Bold.eot");
  src: url("../fonts/DrukWideCyr-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DrukWideCyr-Bold.ttf") format("truetype"), url("../fonts/DrukWideCyr-Bold.woff") format("woff"),
    url("../fonts/DrukWideCyr-Bold.woff2") format("woff2");
}
