{% set body_class = "camp-page" %} {% extends "./_layout.html" %} {% block
content %}
<main class="camp-main">
  {% include './components/_header.html' %} {% include
  './components/_breadcrumbs.html' %}

  <div class="camp-hero-fluid">
    <div class="camp-hero-centered">
      <div class="camp-hero-left">
        <div class="camp-hero-left-title">Міжнародний табір</div>
        <div class="camp-hero-left-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lacus
          massa vitae sed eget natoque morbi odio enim.
        </div>
        <div class="camp-hero-left-btns">
          <div class="camp-hero-left-btns-sign">
            <div class="camp-hero-left-btns-sign-bg"></div>
            <span>записатися</span>
          </div>
          <div class="camp-hero-left-btns-pay-wrapper">
            <a href="/" class="camp-hero-left-btns-pay">
              <div class="camp-hero-left-btns-pay-bg"></div>
              <span>оплатити</span>
            </a>

            <div class="camp-hero-left-btns-pay-logos">
              <div class="camp-hero-left-btns-pay-logos-img">
                <img src="/images/81.png" alt="i" />
              </div>
              <div class="camp-hero-left-btns-pay-logos-img">
                <img src="/images/82.png" alt="i" />
              </div>
              <div class="camp-hero-left-btns-pay-logos-img">
                <img src="/images/83.png" alt="i" />
              </div>
              <div class="camp-hero-left-btns-pay-logos-img">
                <img src="/images/84.png" alt="i" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="camp-hero-right">
        <img src="/images/69.png" alt="i" />
      </div>
    </div>
  </div>

  <div class="kindergarten-integrated-fluid">
    <div class="kindergarten-integrated-centered">
      <div class="kindergarten-integrated-title">Про що міжнародний табір</div>
      <div class="kindergarten-integrated-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla lacus
        massa vitae sed eget natoque morbi odio enim. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Nulla lacus massa vitae sed eget
        natoque morbi odio enim. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Nulla lacus massa vitae sed eget natoque morbi odio
        enim.
      </div>
      <div class="kindergarten-integrated-icon">
        <img src="/images/icon72.svg" alt="img" />
      </div>
    </div>
  </div>

  <div class="camps-conception-fluid">
    <div class="camps-conception-centered">
      <div class="camps-conception-title">Концепція</div>
      <div class="camps-conception-container">
        <div
          class="camps-conception-item js-modal-link"
          data-target="conception-popup"
        >
          <div class="camps-conception-item-image">
            <img src="/images/85.png" alt="i" />
          </div>
          <div class="camps-conception-item-down">
            <span>мрій</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="13"
              height="20"
              viewBox="0 0 13 20"
              fill="none"
            >
              <path
                d="M2 2L11 10L2 18"
                stroke="#FF5C00"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
        <div
          class="camps-conception-item js-modal-link"
          data-target="conception-popup"
        >
          <div class="camps-conception-item-image">
            <img src="/images/86.png" alt="i" />
          </div>
          <div class="camps-conception-item-down">
            <span>дій</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="13"
              height="20"
              viewBox="0 0 13 20"
              fill="none"
            >
              <path
                d="M2 2L11 10L2 18"
                stroke="#FF5C00"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
        <div
          class="camps-conception-item js-modal-link"
          data-target="conception-popup"
        >
          <div class="camps-conception-item-image">
            <img src="/images/87.png" alt="i" />
          </div>
          <div class="camps-conception-item-down">
            <span>сяй</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="13"
              height="20"
              viewBox="0 0 13 20"
              fill="none"
            >
              <path
                d="M2 2L11 10L2 18"
                stroke="#FF5C00"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
        <div
          class="camps-conception-item js-modal-link"
          data-target="conception-popup"
        >
          <div class="camps-conception-item-image">
            <img src="/images/88.png" alt="i" />
          </div>
          <div class="camps-conception-item-down">
            <span>відпочивай</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="13"
              height="20"
              viewBox="0 0 13 20"
              fill="none"
            >
              <path
                d="M2 2L11 10L2 18"
                stroke="#FF5C00"
                stroke-width="3"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="camp-cards-fluid">
    <div class="camp-cards-centered">
      <div class="camp-cards-container">
        <div class="camp-cards-item">
          <div class="camp-cards-item-icon">
            <img src="/images/icon73.svg" alt="img" />
          </div>
          <div class="camp-cards-item-name">lorem ipsum dolor sit amet</div>
        </div>
        <div class="camp-cards-item">
          <div class="camp-cards-item-icon">
            <img src="/images/icon74.svg" alt="img" />
          </div>
          <div class="camp-cards-item-name">lorem ipsum dolor sit amet</div>
        </div>
        <div class="camp-cards-item">
          <div class="camp-cards-item-icon">
            <img src="/images/icon75.svg" alt="img" />
          </div>
          <div class="camp-cards-item-name">lorem ipsum dolor sit amet</div>
        </div>
        <div class="camp-cards-item">
          <div class="camp-cards-item-icon">
            <img src="/images/icon76.svg" alt="img" />
          </div>
          <div class="camp-cards-item-name">lorem ipsum dolor sit amet</div>
        </div>
      </div>
    </div>
  </div>

  <div class="kindergarten-schedule-fluid">
    <div class="kindergarten-schedule-centered">
      <div class="kindergarten-schedule-title js-stager-trigger">
        Приклад розкладу
      </div>
      <div class="kindergarten-schedule-content">
        <div class="kindergarten-schedule-left">
          <div class="kindergarten-schedule-left-item js-stager-anim">
            <div class="kindergarten-schedule-left-item-time">
              <div class="kindergarten-schedule-left-item-time-start">8:30</div>
              <div class="kindergarten-schedule-left-item-time-end">9:30</div>
            </div>
            <div class="kindergarten-schedule-left-item-text">
              біжу на зустріч до своїх друзів та вчителя
            </div>
          </div>
          <div class="kindergarten-schedule-left-item js-stager-anim">
            <div class="kindergarten-schedule-left-item-time">
              <div class="kindergarten-schedule-left-item-time-start">9:30</div>
              <div class="kindergarten-schedule-left-item-time-end">10:00</div>
            </div>
            <div class="kindergarten-schedule-left-item-text">
              смачно та корисно снідаю
            </div>
          </div>
          <div class="kindergarten-schedule-left-item js-stager-anim">
            <div class="kindergarten-schedule-left-item-time">
              <div class="kindergarten-schedule-left-item-time-start">
                10:00
              </div>
              <div class="kindergarten-schedule-left-item-time-end">11:45</div>
            </div>
            <div class="kindergarten-schedule-left-item-text">
              розвиваюся та навчаюся
            </div>
          </div>
          <div class="kindergarten-schedule-left-item js-stager-anim">
            <div class="kindergarten-schedule-left-item-time">
              <div class="kindergarten-schedule-left-item-time-start">
                11:45
              </div>
              <div class="kindergarten-schedule-left-item-time-end">12:30</div>
            </div>
            <div class="kindergarten-schedule-left-item-text">
              дихаю свіжим повітрям, беру активну участь в іграх
            </div>
          </div>
          <div class="kindergarten-schedule-left-item js-stager-anim">
            <div class="kindergarten-schedule-left-item-time">
              <div class="kindergarten-schedule-left-item-time-start">
                12:30
              </div>
              <div class="kindergarten-schedule-left-item-time-end">13:00</div>
            </div>
            <div class="kindergarten-schedule-left-item-text">
              смачно та корисно обідаю
            </div>
          </div>
          <div class="kindergarten-schedule-left-item js-stager-anim">
            <div class="kindergarten-schedule-left-item-time">
              <div class="kindergarten-schedule-left-item-time-start">
                13:00
              </div>
              <div class="kindergarten-schedule-left-item-time-end">13:30</div>
            </div>
            <div class="kindergarten-schedule-left-item-text">
              насолоджуюся солодким читанням
            </div>
          </div>
          <div class="kindergarten-schedule-left-item js-stager-anim">
            <div class="kindergarten-schedule-left-item-time">
              <div class="kindergarten-schedule-left-item-time-start">
                13:30
              </div>
              <div class="kindergarten-schedule-left-item-time-end">15:00</div>
            </div>
            <div class="kindergarten-schedule-left-item-text">
              розглядаю кольорові сни
            </div>
          </div>
          <div class="kindergarten-schedule-left-item js-stager-anim">
            <div class="kindergarten-schedule-left-item-time">
              <div class="kindergarten-schedule-left-item-time-start">
                15:00
              </div>
              <div class="kindergarten-schedule-left-item-time-end">15:30</div>
            </div>
            <div class="kindergarten-schedule-left-item-text">
              творю та витворяю
            </div>
          </div>
          <div class="kindergarten-schedule-left-item js-stager-anim">
            <div class="kindergarten-schedule-left-item-time">
              <div class="kindergarten-schedule-left-item-time-start">
                15:30
              </div>
              <div class="kindergarten-schedule-left-item-time-end">16:00</div>
            </div>
            <div class="kindergarten-schedule-left-item-text">
              куштую смачний та корисний підвечірок
            </div>
          </div>
          <div class="kindergarten-schedule-left-item js-stager-anim">
            <div class="kindergarten-schedule-left-item-time">
              <div class="kindergarten-schedule-left-item-time-start">
                16:00
              </div>
              <div class="kindergarten-schedule-left-item-time-end">18:00</div>
            </div>
            <div class="kindergarten-schedule-left-item-text">
              дихаю свіжим повітрям та відвідую улюблені гуртки дихаю свіжим
              повітрям та відвідую улюблені гуртки
            </div>
          </div>
          <div class="kindergarten-schedule-left-item js-stager-anim">
            <div class="kindergarten-schedule-left-item-time">
              <div class="kindergarten-schedule-left-item-time-start">
                18:00
              </div>
              <div class="kindergarten-schedule-left-item-time-end">18:30</div>
            </div>
            <div class="kindergarten-schedule-left-item-text">
              смачно та корисно вечеряю
            </div>
          </div>
          <div class="kindergarten-schedule-left-item js-stager-anim">
            <div class="kindergarten-schedule-left-item-time">
              <div class="kindergarten-schedule-left-item-time-start">
                18:30
              </div>
              <div class="kindergarten-schedule-left-item-time-end">19:00</div>
            </div>
            <div class="kindergarten-schedule-left-item-text">
              збираюся додому, щоб розказати батькам про пригоди
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="kindergarten-schedule-more">
        <div class="kindergarten-schedule-more-bg">
        </div>
        <div class="kindergarten-schedule-more-btn">
          більше
        </div>
      </div> -->
    </div>
  </div>

  <div class="camp-program-fluid">
    <div class="camp-program-centered">
      <div class="camp-program-title">ПРОГРАМА ТА ОСОБЛИВОСТІ ТАБОРУ</div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <ul>
        <li>
          Nam sagittis ut sed velit purus nibh. Eu neque id donec mattis urna.
          Id pellentesque sed amet augue commodo neque, elementum. Maecenas ut
          nisi est eu cursus facilisis. Enim duis tortor, odio aliquam in tellus
          eu sit elit. Eget nec lorem vel ut vitae molestie. Amet aliquam auctor
          tincidunt risus in scelerisque convallis justo. Vitae fermentum, orci
          ultrices integer. Sit a integer a id eget donec scelerisque nunc nunc.
          Blandit condimentum egestas odio aliquet. Morbi lobortis consectetur
          consectetur viverra nec.
        </li>
        <li>
          Vel nisl adipiscing viverra sem quam neque at nunc condimentum. A
          interdum massa vulputate sit vulputate facilisi feugiat. Nullam vitae
          dictumst porttitor ut tincidunt id mattis. Scelerisque tincidunt sem
          tristique adipiscing erat adipiscing morbi dictumst. Amet, nisi
          gravida mattis at congue sapien, est. Placerat sit risus sed
          pellentesque elit mi non amet.
        </li>
        <li>
          Commodo nibh euismod facilisis ultrices nibh nec, viverra ipsum,
          mollis. Sit enim et egestas dui non donec et porta ac. Eu pellentesque
          auctor lectus posuere in aliquet viverra amet. Sed sit arcu malesuada
          suspendisse enim morbi feugiat.
        </li>
      </ul>
      <div class="camp-program-container">
        <div class="camp-program-item">
          <div class="camp-program-item-left">
            <img src="/images/70.jpg" alt="i" />
          </div>
          <div class="camp-program-item-right">
            <div class="camp-program-item-right-day">1 день</div>
            <div class="camp-program-item-right-name">
              lorem ipsum dolor sit amet
            </div>
            <div class="camp-program-item-right-text">
              Nam sagittis ut sed velit purus nibh. Eu neque id donec mattis
              urna. Id pellentesque sed amet augue commodo neque, elementum.
              Maecenas ut nisi est eu cursus facilisis. Enim duis tortor, odio
              aliquam in tellus eu sit elit. Eget nec lorem vel ut vitae
              molestie. Amet aliquam auctor tincidunt risus in scelerisque
              convallis justo. Vitae fermentum, orci ultrices integer. Sit a
              integer a id eget donec scelerisque nunc nunc. Blandit condimentum
              egestas odio aliquet. Morbi lobortis consectetur consectetur
              viverra nec.
            </div>
            <div
              class="camp-program-item-right-btn js-modal-link"
              data-target="camp-program-popup"
            >
              <span>Детальніше</span>
              <img src="/images/icon82.svg" alt="i" />
            </div>
            <div class="camp-program-item-right-number">01</div>
          </div>
        </div>
        <div class="camp-program-item">
          <div class="camp-program-item-left">
            <img src="/images/71.jpg" alt="i" />
          </div>
          <div class="camp-program-item-right">
            <div class="camp-program-item-right-day">2 день</div>
            <div class="camp-program-item-right-name">
              lorem ipsum dolor sit amet
            </div>
            <div class="camp-program-item-right-text">
              Nam sagittis ut sed velit purus nibh. Eu neque id donec mattis
              urna. Id pellentesque sed amet augue commodo neque, elementum.
              Maecenas ut nisi est eu cursus facilisis. Enim duis tortor, odio
              aliquam in tellus eu sit elit. Eget nec lorem vel ut vitae
              molestie. Amet aliquam auctor tincidunt risus in scelerisque
              convallis justo. Vitae fermentum, orci ultrices integer. Sit a
              integer a id eget donec scelerisque nunc nunc. Blandit condimentum
              egestas odio aliquet. Morbi lobortis consectetur consectetur
              viverra nec.
            </div>
            <div
              class="camp-program-item-right-btn js-modal-link"
              data-target="camp-program-popup"
            >
              <span>Детальніше</span>
              <img src="/images/icon82.svg" alt="i" />
            </div>
            <div class="camp-program-item-right-number">02</div>
          </div>
        </div>
        <div class="camp-program-item">
          <div class="camp-program-item-left">
            <img src="/images/72.jpg" alt="i" />
          </div>
          <div class="camp-program-item-right">
            <div class="camp-program-item-right-day">3 день</div>
            <div class="camp-program-item-right-name">
              lorem ipsum dolor sit amet
            </div>
            <div class="camp-program-item-right-text">
              Nam sagittis ut sed velit purus nibh. Eu neque id donec mattis
              urna. Id pellentesque sed amet augue commodo neque, elementum.
              Maecenas ut nisi est eu cursus facilisis. Enim duis tortor, odio
              aliquam in tellus eu sit elit. Eget nec lorem vel ut vitae
              molestie. Amet aliquam auctor tincidunt risus in scelerisque
              convallis justo. Vitae fermentum, orci ultrices integer. Sit a
              integer a id eget donec scelerisque nunc nunc. Blandit condimentum
              egestas odio aliquet. Morbi lobortis consectetur consectetur
              viverra nec.
            </div>
            <div
              class="camp-program-item-right-btn js-modal-link"
              data-target="camp-program-popup"
            >
              <span>Детальніше</span>
              <img src="/images/icon82.svg" alt="i" />
            </div>
            <div class="camp-program-item-right-number">03</div>
          </div>
        </div>
        <div class="camp-program-item">
          <div class="camp-program-item-left">
            <img src="/images/72.jpg" alt="i" />
          </div>
          <div class="camp-program-item-right">
            <div class="camp-program-item-right-day">4 день</div>
            <div class="camp-program-item-right-name">
              lorem ipsum dolor sit amet
            </div>
            <div class="camp-program-item-right-text">
              Nam sagittis ut sed velit purus nibh. Eu neque id donec mattis
              urna. Id pellentesque sed amet augue commodo neque, elementum.
              Maecenas ut nisi est eu cursus facilisis. Enim duis tortor, odio
              aliquam in tellus eu sit elit. Eget nec lorem vel ut vitae
              molestie. Amet aliquam auctor tincidunt risus in scelerisque
              convallis justo. Vitae fermentum, orci ultrices integer. Sit a
              integer a id eget donec scelerisque nunc nunc. Blandit condimentum
              egestas odio aliquet. Morbi lobortis consectetur consectetur
              viverra nec.
            </div>
            <div
              class="camp-program-item-right-btn js-modal-link"
              data-target="camp-program-popup"
            >
              <span>Детальніше</span>
              <img src="/images/icon82.svg" alt="i" />
            </div>
            <div class="camp-program-item-right-number">04</div>
          </div>
        </div>
        <div class="camp-program-item">
          <div class="camp-program-item-left">
            <img src="/images/72.jpg" alt="i" />
          </div>
          <div class="camp-program-item-right">
            <div class="camp-program-item-right-day">5 день</div>
            <div class="camp-program-item-right-name">
              lorem ipsum dolor sit amet
            </div>
            <div class="camp-program-item-right-text">
              Nam sagittis ut sed velit purus nibh. Eu neque id donec mattis
              urna. Id pellentesque sed amet augue commodo neque, elementum.
              Maecenas ut nisi est eu cursus facilisis. Enim duis tortor, odio
              aliquam in tellus eu sit elit. Eget nec lorem vel ut vitae
              molestie. Amet aliquam auctor tincidunt risus in scelerisque
              convallis justo. Vitae fermentum, orci ultrices integer. Sit a
              integer a id eget donec scelerisque nunc nunc. Blandit condimentum
              egestas odio aliquet. Morbi lobortis consectetur consectetur
              viverra nec.
            </div>
            <div
              class="camp-program-item-right-btn js-modal-link"
              data-target="camp-program-popup"
            >
              <span>Детальніше</span>
              <img src="/images/icon82.svg" alt="i" />
            </div>
            <div class="camp-program-item-right-number">05</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="camp-get-fluid">
    <div class="camp-get-centered">
      <div class="camp-get-title">щО ОТРИМАЄ ДИТИНА</div>
      <div class="camp-get-text">
        Nam sagittis ut sed velit purus nibh. Eu neque id donec mattis urna. Id
        pellentesque sed amet augue commodo neque, elementum. Maecenas ut nisi
        est eu cursus facilisis. Enim duis tortor, odio aliquam in tellus eu sit
        elit. Eget nec lorem vel ut vitae molestie. Amet aliquam auctor
        tincidunt risus in scelerisque convallis justo
      </div>
      <div class="camp-get-container">
        <div class="camp-get-item">
          <div class="camp-get-item-inner">
            <div class="camp-get-item-icon">
              <img src="/images/icon77.svg" alt="i" />
            </div>
            <div class="camp-get-item-title">lorem ipsum dolor sit amet</div>
            <div class="camp-get-item-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et
              pulvinar leo placerat. Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Et pulvinar leo placerat
            </div>
          </div>
        </div>
        <div class="camp-get-item bla">
          <div class="camp-get-item-inner">
            <div class="camp-get-item-icon">
              <img src="/images/icon78.svg" alt="i" />
            </div>
            <div class="camp-get-item-title">lorem ipsum dolor sit amet</div>
            <div class="camp-get-item-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et
              pulvinar leo placerat. Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Et pulvinar leo placerat
            </div>
          </div>
        </div>
        <div class="camp-get-item">
          <div class="camp-get-item-inner">
            <div class="camp-get-item-icon">
              <img src="/images/icon79.svg" alt="i" />
            </div>
            <div class="camp-get-item-title">lorem ipsum dolor sit amet</div>
            <div class="camp-get-item-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et
              pulvinar leo placerat. Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Et pulvinar leo placerat
            </div>
          </div>
        </div>
        <div class="camp-get-item">
          <div class="camp-get-item-inner">
            <div class="camp-get-item-icon">
              <img src="/images/icon80.svg" alt="i" />
            </div>
            <div class="camp-get-item-title">lorem ipsum dolor sit amet</div>
            <div class="camp-get-item-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et
              pulvinar leo placerat. Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Et pulvinar leo placerat
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="camp-timers-fluid">
    <div class="camp-timers-centered">
      <div class="camp-timer" data-timer="March 25, 2023 10:00:00">
        <div class="camp-timer-title">До початку зміни залишилося</div>
        <div class="camp-timer-container">
          <div class="camp-timer-el">
            <div id="countdown-days" class="camp-timer-el-num"></div>
            <div class="camp-timer-el-caption">днів</div>
          </div>
          <div class="camp-timer-colon">:</div>
          <div class="camp-timer-el">
            <div id="countdown-hours" class="camp-timer-el-num"></div>
            <div class="camp-timer-el-caption">годин</div>
          </div>
          <div class="camp-timer-colon">:</div>
          <div class="camp-timer-el">
            <div id="countdown-minutes" class="camp-timer-el-num"></div>
            <div class="camp-timer-el-caption">хвилин</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="camp-about-fluid">
    <div class="camp-about-centered">
      <div class="camp-about-left">
        <div class="camp-about-left-item">
          <div class="camp-about-left-item-title">ДЛЯ КОГО</div>
          <div class="camp-about-left-item-taxt">Діти від 5 до 12 років</div>
        </div>
        <div class="camp-about-left-item">
          <div class="camp-about-left-item-title">ВАРТІСТЬ</div>
          <div class="camp-about-left-item-taxt">6600 грн - за 5 днів</div>
          <div class="camp-about-left-item-info">
            *можлива опція поденної оплати – 1600 грн/день
          </div>
        </div>
      </div>
      <div class="camp-about-right">
        <div class="camp-about-right-title">КОЛИ</div>
        <ul class="camp-about-right-list">
          <li>з 28 березня по 1 квітня</li>
          <li>з 28 березня по 1 квітня</li>
          <li>з 28 березня по 1 квітня</li>
          <li>з 28 березня по 1 квітня</li>
          <li>з 28 березня по 1 квітня</li>
        </ul>
      </div>
    </div>
  </div>

  {% include './components/_home-team.html' %}

  <div class="kindergarten-desktop-slider-fluid">
    <div class="kindergarten-desktop-slider-wrapper">
      <div class="kindergarten-desktop-slider-mobile-title">KIDS PHOTO</div>
      <div class="kindergarten-desktop-slider-arrows">
        <div class="slick-prev">
          <svg
            width="65"
            height="65"
            viewBox="0 0 65 65"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              cx="32.5"
              cy="32.5"
              r="32.5"
              transform="rotate(180 32.5 32.5)"
              fill="#E61777"
            />
            <path
              d="M41 50L24 32.5L41 15"
              stroke="white"
              stroke-width="6"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="slick-next">
          <svg
            width="65"
            height="65"
            viewBox="0 0 65 65"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="32.5" cy="32.5" r="32.5" fill="#E61777" />
            <path
              d="M24 15L41 32.5L24 50"
              stroke="white"
              stroke-width="6"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
      <div class="kindergarten-desktop-slider">
        <div class="kindergarten-desktop-slider-item">
          <div class="kindergarten-desktop-slider-item-inner">
            <div class="kindergarten-desktop-slider-item-left">
              <div class="kindergarten-desktop-slider-item-left-name">
                KIDS PHOTO
              </div>
              <div class="kindergarten-desktop-slider-item-left-img">
                <img src="/images/45.jpg" alt="img" />
              </div>
            </div>
            <div class="kindergarten-desktop-slider-item-right">
              <div class="kindergarten-desktop-slider-item-right-img1">
                <img src="/images/46.jpg" alt="img" />
              </div>
              <div class="kindergarten-desktop-slider-item-right-img2">
                <img src="/images/47.jpg" alt="img" />
              </div>
            </div>
          </div>
        </div>
        <div class="kindergarten-desktop-slider-item">
          <div class="kindergarten-desktop-slider-item-inner">
            <div class="kindergarten-desktop-slider-item-left">
              <div class="kindergarten-desktop-slider-item-left-name">
                KIDS PHOTO
              </div>
              <div class="kindergarten-desktop-slider-item-left-img">
                <img src="/images/47.jpg" alt="img" />
              </div>
            </div>
            <div class="kindergarten-desktop-slider-item-right">
              <div class="kindergarten-desktop-slider-item-right-img1">
                <img src="/images/45.jpg" alt="img" />
              </div>
              <div class="kindergarten-desktop-slider-item-right-img2">
                <img src="/images/46.jpg" alt="img" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="camp-get2-fluid">
    <div class="camp-get2-centered">
      <div class="camp-get2-title">щО ОТРИМАЄ ДИТИНА</div>
      <div class="camp-cards-container">
        <div class="camp-cards-item">
          <div class="camp-cards-item-icon">
            <img src="/images/icon73.svg" alt="img" />
          </div>
          <div class="camp-cards-item-name">
            практика у різних сферах діяльності
          </div>
        </div>
        <div class="camp-cards-item">
          <div class="camp-cards-item-icon">
            <img src="/images/icon74.svg" alt="img" />
          </div>
          <div class="camp-cards-item-name">спілкування із однолітками</div>
        </div>
        <div class="camp-cards-item">
          <div class="camp-cards-item-icon">
            <img src="/images/icon75.svg" alt="img" />
          </div>
          <div class="camp-cards-item-name">гармонійний розвиток</div>
        </div>
        <div class="camp-cards-item">
          <div class="camp-cards-item-icon">
            <img src="/images/icon76.svg" alt="img" />
          </div>
          <div class="camp-cards-item-name">розкриття талантів</div>
        </div>
      </div>
    </div>
  </div>

  <div class="camps-parents-fluid">
    <div class="camps-parents-centered">
      <div class="camps-parents-title">ШО ДУМАЮТЬ БАТЬКИ</div>
      <div class="camps-parents-slider-wrapper">
        <div class="camps-parents-slider-arrows">
          <div class="slick-prev">
            <img src="/images/arr11.svg" alt="img" />
          </div>
          <div class="slick-next">
            <img src="/images/arr10.svg" alt="img" />
          </div>
        </div>
        <div class="camps-parents-slider">
          <div
            class="camps-parents-slider-item js-modal-link"
            data-target="youtube-popup"
          >
            <div class="camps-parents-slider-item-inner">
              <div class="camps-parents-slider-item-photo">
                <img src="/images/62.jpg" alt="img" />
              </div>
              <div class="camps-parents-slider-item-icon">
                <img src="/images/icon67.svg" alt="img" />
              </div>
              <div class="camps-parents-slider-item-logo">
                <img src="/images/icon68.svg" alt="img" />
              </div>
            </div>
          </div>
          <div
            class="camps-parents-slider-item js-modal-link"
            data-target="youtube-popup"
          >
            <div class="camps-parents-slider-item-inner">
              <div class="camps-parents-slider-item-photo">
                <img src="/images/62.jpg" alt="img" />
              </div>
              <div class="camps-parents-slider-item-icon">
                <img src="/images/icon67.svg" alt="img" />
              </div>
              <div class="camps-parents-slider-item-logo">
                <img src="/images/icon68.svg" alt="img" />
              </div>
            </div>
          </div>
          <div
            class="camps-parents-slider-item js-modal-link"
            data-target="youtube-popup"
          >
            <div class="camps-parents-slider-item-inner">
              <div class="camps-parents-slider-item-photo">
                <img src="/images/62.jpg" alt="img" />
              </div>
              <div class="camps-parents-slider-item-icon">
                <img src="/images/icon67.svg" alt="img" />
              </div>
              <div class="camps-parents-slider-item-logo">
                <img src="/images/icon68.svg" alt="img" />
              </div>
            </div>
          </div>
          <div
            class="camps-parents-slider-item js-modal-link"
            data-target="youtube-popup"
          >
            <div class="camps-parents-slider-item-inner">
              <div class="camps-parents-slider-item-photo">
                <img src="/images/62.jpg" alt="img" />
              </div>
              <div class="camps-parents-slider-item-icon">
                <img src="/images/icon67.svg" alt="img" />
              </div>
              <div class="camps-parents-slider-item-logo">
                <img src="/images/icon68.svg" alt="img" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="camps-reviews-fluid">
    <div class="camps-reviews-centered">
      <div class="camps-reviews-slider-wrapper">
        <div class="camps-reviews-slider-arrows">
          <div class="slick-prev">
            <img src="/images/arr11.svg" alt="img" />
          </div>
          <div class="slick-next">
            <img src="/images/arr10.svg" alt="img" />
          </div>
        </div>
        <div class="camps-reviews-slider">
          <div class="camps-reviews-slider-item">
            <div class="camps-reviews-slider-item-inner">
              <div class="camps-reviews-slider-item-top">
                <div class="camps-reviews-slider-item-top-left">
                  <img src="/images/63.jpg" alt="img" />
                </div>
                <div class="camps-reviews-slider-item-top-right">
                  <div class="camps-reviews-slider-item-top-name">
                    ІВАНЕНКОоооооо СВІТЛАНА
                  </div>
                  <div class="camps-reviews-slider-item-top-post">
                    мама дочечки Єви, 6 років
                  </div>
                </div>
              </div>
              <div class="camps-reviews-slider-item-text">
                Диттині все дуже сплодобалось, наступного року хочемо повторити
                ще Диттині все дуже сплодобалось, наступного року хочемо
                повторити щеДиттині все дуже сплодобалось, наступного року
                хочемо повторити ще, диттині все дуже сплодобалось, наступного
                року хочемо повторити щеДиттині все дуже сплодобалось,
                наступного року хочемо повторити ще
              </div>
            </div>
          </div>
          <div class="camps-reviews-slider-item">
            <div class="camps-reviews-slider-item-inner">
              <div class="camps-reviews-slider-item-top">
                <div class="camps-reviews-slider-item-top-left">
                  <img src="/images/63.jpg" alt="img" />
                </div>
                <div class="camps-reviews-slider-item-top-right">
                  <div class="camps-reviews-slider-item-top-name">
                    ІВАНЕНКОоооооо СВІТЛАНА
                  </div>
                  <div class="camps-reviews-slider-item-top-post">
                    мама дочечки Єви, 6 років
                  </div>
                </div>
              </div>
              <div class="camps-reviews-slider-item-text">
                Диттині все дуже сплодобалось, наступного року хочемо повторити
                ще Диттині все дуже сплодобалось, наступного року хочемо
                повторити щеДиттині все дуже сплодобалось, наступного року
                хочемо повторити ще, диттині все дуже сплодобалось, наступного
                року хочемо повторити щеДиттині все дуже сплодобалось,
                наступного року хочемо повторити ще
              </div>
            </div>
          </div>
          <div class="camps-reviews-slider-item">
            <div class="camps-reviews-slider-item-inner">
              <div class="camps-reviews-slider-item-top">
                <div class="camps-reviews-slider-item-top-left">
                  <img src="/images/63.jpg" alt="img" />
                </div>
                <div class="camps-reviews-slider-item-top-right">
                  <div class="camps-reviews-slider-item-top-name">
                    ІВАНЕНКОоооооо СВІТЛАНА
                  </div>
                  <div class="camps-reviews-slider-item-top-post">
                    мама дочечки Єви, 6 років
                  </div>
                </div>
              </div>
              <div class="camps-reviews-slider-item-text">
                Диттині все дуже сплодобалось, наступного року хочемо повторити
                ще Диттині все дуже сплодобалось, наступного року хочемо
                повторити щеДиттині все дуже сплодобалось, наступного року
                хочемо повторити ще, диттині все дуже сплодобалось, наступного
                року хочемо повторити щеДиттині все дуже сплодобалось,
                наступного року хочемо повторити ще
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include './components/_home-request.html' %} {% include
  './components/_home-social.html' %} {% include './components/_footer.html' %}
</main>

{% endblock %} {% block footer_scripts %} {% endblock %}
