{% set body_class = "documents-page" %}
{% extends "./_layout.html" %}

{% block content %}
<main class="documents-main">
  {% include './components/_header.html' %}

  <div class="documents-fluid">
    <div class="documents-centered">
      <div class="documents-title">
        Нормативні документи
      </div>
      <div class="documents-container">
        <div class="documents-item">
          <div class="documents-item-top">
            <div class="documents-item-top-heading">
              <div class="documents-item-top-heading-icon">
                <img src="/images/icon50.svg" alt="arr">
              </div>
              <span>Ліцензія ПО ВП</span>
              <div class="documents-item-top-heading-arrow">
                <img src="/images/arr6.svg" alt="arr">
              </div>
            </div>
          </div>
          <div class="documents-item-drop">
            <a href="/" download class="documents-item-drop-link">
              <img src="/images/icon51.svg" alt="img">
              <span>Ліцензія ПО ВП</span>
            </a>
            <a href="/" download class="documents-item-drop-link">
              <img src="/images/icon51.svg" alt="img">
              <span>Ліцензія ПО ВП</span>
            </a>
          </div>
        </div>
        <div class="documents-item">
          <div class="documents-item-top">
            <div class="documents-item-top-heading">
              <div class="documents-item-top-heading-icon">
                <img src="/images/icon50.svg" alt="arr">
              </div>
              <span>Освітня програма МрійДій 2022-2023</span>
              <div class="documents-item-top-heading-arrow">
                <img src="/images/arr6.svg" alt="arr">
              </div>
            </div>
          </div>
          <div class="documents-item-drop">
            <a href="/" download class="documents-item-drop-link">
              <img src="/images/icon51.svg" alt="img">
              <span>Ліцензія ПО ВП</span>
            </a>
            <a href="/" download class="documents-item-drop-link">
              <img src="/images/icon51.svg" alt="img">
              <span>Ліцензія ПО ВП</span>
            </a>
          </div>
        </div>
        <div class="documents-item">
          <div class="documents-item-top">
            <div class="documents-item-top-heading">
              <div class="documents-item-top-heading-icon">
                <img src="/images/icon50.svg" alt="arr">
              </div>
              <span>Політика інклюзії МрійДій 2022</span>
              <div class="documents-item-top-heading-arrow">
                <img src="/images/arr6.svg" alt="arr">
              </div>
            </div>
          </div>
          <div class="documents-item-drop">
            <a href="/" download class="documents-item-drop-link">
              <img src="/images/icon51.svg" alt="img">
              <span>Ліцензія ПО ВП</span>
            </a>
            <a href="/" download class="documents-item-drop-link">
              <img src="/images/icon51.svg" alt="img">
              <span>Ліцензія ПО ВП</span>
            </a>
          </div>
        </div>
        <div class="documents-item">
          <div class="documents-item-top">
            <div class="documents-item-top-heading">
              <div class="documents-item-top-heading-icon">
                <img src="/images/icon50.svg" alt="arr">
              </div>
              <span>Положення ВП ПЗО-1</span>
              <div class="documents-item-top-heading-arrow">
                <img src="/images/arr6.svg" alt="arr">
              </div>
            </div>
          </div>
          <div class="documents-item-drop">
            <a href="/" download class="documents-item-drop-link">
              <img src="/images/icon51.svg" alt="img">
              <span>Ліцензія ПО ВП</span>
            </a>
            <a href="/" download class="documents-item-drop-link">
              <img src="/images/icon51.svg" alt="img">
              <span>Ліцензія ПО ВП</span>
            </a>
          </div>
        </div>
        <div class="documents-item">
          <div class="documents-item-top">
            <div class="documents-item-top-heading">
              <div class="documents-item-top-heading-icon">
                <img src="/images/icon50.svg" alt="arr">
              </div>
              <span>Порядок зарахування та відрахування МрійДій</span>
              <div class="documents-item-top-heading-arrow">
                <img src="/images/arr6.svg" alt="arr">
              </div>
            </div>
          </div>
          <div class="documents-item-drop">
            <a href="/" download class="documents-item-drop-link">
              <img src="/images/icon51.svg" alt="img">
              <span>Ліцензія ПО ВП</span>
            </a>
            <a href="/" download class="documents-item-drop-link">
              <img src="/images/icon51.svg" alt="img">
              <span>Ліцензія ПО ВП</span>
            </a>
          </div>
        </div>
        <div class="documents-item">
          <div class="documents-item-top">
            <div class="documents-item-top-heading">
              <div class="documents-item-top-heading-icon">
                <img src="/images/icon50.svg" alt="arr">
              </div>
              <span>Статут МрійДій</span>
              <div class="documents-item-top-heading-arrow">
                <img src="/images/arr6.svg" alt="arr">
              </div>
            </div>
          </div>
          <div class="documents-item-drop">
            <a href="/" download class="documents-item-drop-link">
              <img src="/images/icon51.svg" alt="img">
              <span>Ліцензія ПО ВП</span>
            </a>
            <a href="/" download class="documents-item-drop-link">
              <img src="/images/icon51.svg" alt="img">
              <span>Ліцензія ПО ВП</span>
            </a>
          </div>
        </div>
        <div class="documents-item">
          <div class="documents-item-top">
            <div class="documents-item-top-heading">
              <div class="documents-item-top-heading-icon">
                <img src="/images/icon50.svg" alt="arr">
              </div>
              <span>Кадровий склад закладу освіти згідно з ліцензійними умовами ВП ПЗО МрійДій</span>
              <div class="documents-item-top-heading-arrow">
                <img src="/images/arr6.svg" alt="arr">
              </div>
            </div>
          </div>
          <div class="documents-item-drop">
            <a href="/" download class="documents-item-drop-link">
              <img src="/images/icon51.svg" alt="img">
              <span>Ліцензія ПО ВП</span>
            </a>
            <a href="/" download class="documents-item-drop-link">
              <img src="/images/icon51.svg" alt="img">
              <span>Ліцензія ПО ВП</span>
            </a>
          </div>
        </div>
        <div class="documents-item">
          <div class="documents-item-top">
            <div class="documents-item-top-heading">
              <div class="documents-item-top-heading-icon">
                <img src="/images/icon50.svg" alt="arr">
              </div>
              <span>Ліцензійований обсяг та фактична кількість осіб ВП ПЗО МрійДій</span>
              <div class="documents-item-top-heading-arrow">
                <img src="/images/arr6.svg" alt="arr">
              </div>
            </div>
          </div>
          <div class="documents-item-drop">
            <a href="/" download class="documents-item-drop-link">
              <img src="/images/icon51.svg" alt="img">
              <span>Ліцензія ПО ВП</span>
            </a>
            <a href="/" download class="documents-item-drop-link">
              <img src="/images/icon51.svg" alt="img">
              <span>Ліцензія ПО ВП</span>
            </a>
          </div>
        </div>
        <div class="documents-item">
          <div class="documents-item-top">
            <div class="documents-item-top-heading">
              <div class="documents-item-top-heading-icon">
                <img src="/images/icon50.svg" alt="arr">
              </div>
              <span>Ліцензія ПО ВП</span>
              <div class="documents-item-top-heading-arrow">
                <img src="/images/arr6.svg" alt="arr">
              </div>
            </div>
          </div>
          <div class="documents-item-drop">
            <a href="/" download class="documents-item-drop-link">
              <img src="/images/icon51.svg" alt="img">
              <span>Ліцензія ПО ВП</span>
            </a>
            <a href="/" download class="documents-item-drop-link">
              <img src="/images/icon51.svg" alt="img">
              <span>Ліцензія ПО ВП</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>



  {% include './components/_footer.html' %}
</main>

{% endblock %}

{% block footer_scripts %}

{% endblock %}
