{% set body_class = "faq-page" %}
{% extends "./_layout.html" %}

{% block content %}
<main class="faq-main">
  {% include './components/_header.html' %}

  <div class="faq-fluid">
    <div class="faq-centered">
      <div class="faq-title">
        відповіді на часті запитання
      </div>
      <div class="faq-container">
        <div class="faq-item">
          <div class="faq-item-top">
            <div class="faq-item-top-heading">
              Що таке проєктний підхід у МрійДій?
            </div>
            <div class="faq-item-top-arrow">
              <img src="/images/arr5.svg" alt="arr">
            </div>
          </div>
          <div class="faq-item-drop">
            <p>Вам, мабуть, відомо, що особливістю Як працює самоврядування у школах МрійДій є проєктне навчання.
              І це невипадково, бо методика проєктів – одна із найуспішніших, аби продемонструвати учням, як
              застосовувати знання у щоденному житті та розвинути важливі компетентності – предметні та життєві.
              Учні 5-9 класів звично працюють проєктним методом у рамках усіх предметів упродовж навчального року. Однак
              є тривалі навчальні та наукові проєкти, реалізація яких охоплює майже два місяці, а учні докладають
              особливі зусилля, щоб продемонструвати свої проєктні здобутки. Саме такі проєкти в називають проєктними
              зануреннями.
              Теми проєктів учні обирають самі на «Ярмарку проєктів», відповідно до власних зацікавлень. Організовують
              такі «ярмарки» вчителі-предметники.
            </p>
            <p>Упродовж вересня-жовтня діти усіх класів з’ясовують, що таке проєкти, як їх планувати й реалізовувати, у
              чому полягає особливість проєктного мислення. Проєктами учнів керують наукові керівники – вчителі кафедр.
              Зазвичай кожні два місяці змінюються теми проєктів: жовтень-листопад – суспільно-гуманітарні;
              грудень-січень – проєкти кафедри розвитку, лютий-березень – STEM-проєкти, квітень-травень – проєкти
              кафедри іноземних мов.</p>
            <p>Особливості проєктних занурень:</p>
            <ul>
              <li>
                «проєктні занурення» – це навчальні проєкти, які посилюють навчальні програми обов’язкових шкільних
                предметів, дають можливість учням дізнатися більше з гуманітарних, природничих дисциплін чи «предметів
                розвитку» за обраною темою, мислити науково, вчитися цікаво і практично.
              </li>
              <li>на «проєктні занурення» визначений спеціальний час у розкладі (поза предметом), і такі проєктні
                заняття є обов’язковими для учнів. Зазвичай час на підготовку проєктів виділений 7-8-м уроком, щоб
                вчителі-предметники мали змогу працювати з учнями у малих групах.</li>
              <li>за проєкти науковий керівник виставляє із предмета в журнал оцінку, яка прирівнюється за вагою до
                тематичної й істотно впливає на семестрову оцінку. Якщо проєкт інтегрований, оцінок може бути кілька з
                різних предметів. Це мотивує учнів поглиблено працювати над своїми проєктами і ділитися здобутими
                результатами.</li>
              <li>кожне «проєктне занурення» закінчується захистом, де учні демонструють конкретні результати своєї
                роботи, а ще те, як вони розвинули проєктне мислення, вміння працювати з інформацією, критично оцінювати
                її, взаємодіяти в командні, презентувати свої результати – важливі компетентності, потрібні для «творців
                світу».</li>
            </ul>
          </div>
        </div>
        <div class="faq-item">
          <div class="faq-item-top">
            <div class="faq-item-top-heading">
              Як працює самоврядування у школах МрійДій
            </div>
            <div class="faq-item-top-arrow">
              <img src="/images/arr5.svg" alt="arr">
            </div>
          </div>
          <div class="faq-item-drop">
            <p>Вам, мабуть, відомо, що особливістю Як працює самоврядування у школах МрійДій є проєктне навчання.
              І це невипадково, бо методика проєктів – одна із найуспішніших, аби продемонструвати учням, як
              застосовувати знання у щоденному житті та розвинути важливі компетентності – предметні та життєві.
              Учні 5-9 класів звично працюють проєктним методом у рамках усіх предметів упродовж навчального року. Однак
              є тривалі навчальні та наукові проєкти, реалізація яких охоплює майже два місяці, а учні докладають
              особливі зусилля, щоб продемонструвати свої проєктні здобутки. Саме такі проєкти в називають проєктними
              зануреннями.
              Теми проєктів учні обирають самі на «Ярмарку проєктів», відповідно до власних зацікавлень. Організовують
              такі «ярмарки» вчителі-предметники.
            </p>
            <p>Упродовж вересня-жовтня діти усіх класів з’ясовують, що таке проєкти, як їх планувати й реалізовувати, у
              чому полягає особливість проєктного мислення. Проєктами учнів керують наукові керівники – вчителі кафедр.
              Зазвичай кожні два місяці змінюються теми проєктів: жовтень-листопад – суспільно-гуманітарні;
              грудень-січень – проєкти кафедри розвитку, лютий-березень – STEM-проєкти, квітень-травень – проєкти
              кафедри іноземних мов.</p>
            <p>Особливості проєктних занурень:</p>
            <ul>
              <li>
                «проєктні занурення» – це навчальні проєкти, які посилюють навчальні програми обов’язкових шкільних
                предметів, дають можливість учням дізнатися більше з гуманітарних, природничих дисциплін чи «предметів
                розвитку» за обраною темою, мислити науково, вчитися цікаво і практично.
              </li>
              <li>на «проєктні занурення» визначений спеціальний час у розкладі (поза предметом), і такі проєктні
                заняття є обов’язковими для учнів. Зазвичай час на підготовку проєктів виділений 7-8-м уроком, щоб
                вчителі-предметники мали змогу працювати з учнями у малих групах.</li>
              <li>за проєкти науковий керівник виставляє із предмета в журнал оцінку, яка прирівнюється за вагою до
                тематичної й істотно впливає на семестрову оцінку. Якщо проєкт інтегрований, оцінок може бути кілька з
                різних предметів. Це мотивує учнів поглиблено працювати над своїми проєктами і ділитися здобутими
                результатами.</li>
              <li>кожне «проєктне занурення» закінчується захистом, де учні демонструють конкретні результати своєї
                роботи, а ще те, як вони розвинули проєктне мислення, вміння працювати з інформацією, критично оцінювати
                її, взаємодіяти в командні, презентувати свої результати – важливі компетентності, потрібні для «творців
                світу».</li>
            </ul>
          </div>
        </div>
        <div class="faq-item">
          <div class="faq-item-top">
            <div class="faq-item-top-heading">
              Як реалізується профорієнтація у старшій школі?
            </div>
            <div class="faq-item-top-arrow">
              <img src="/images/arr5.svg" alt="arr">
            </div>
          </div>
          <div class="faq-item-drop">
            <p>Вам, мабуть, відомо, що особливістю Як працює самоврядування у школах МрійДій є проєктне навчання.
              І це невипадково, бо методика проєктів – одна із найуспішніших, аби продемонструвати учням, як
              застосовувати знання у щоденному житті та розвинути важливі компетентності – предметні та життєві.
              Учні 5-9 класів звично працюють проєктним методом у рамках усіх предметів упродовж навчального року. Однак
              є тривалі навчальні та наукові проєкти, реалізація яких охоплює майже два місяці, а учні докладають
              особливі зусилля, щоб продемонструвати свої проєктні здобутки. Саме такі проєкти в називають проєктними
              зануреннями.
              Теми проєктів учні обирають самі на «Ярмарку проєктів», відповідно до власних зацікавлень. Організовують
              такі «ярмарки» вчителі-предметники.
            </p>
            <p>Упродовж вересня-жовтня діти усіх класів з’ясовують, що таке проєкти, як їх планувати й реалізовувати, у
              чому полягає особливість проєктного мислення. Проєктами учнів керують наукові керівники – вчителі кафедр.
              Зазвичай кожні два місяці змінюються теми проєктів: жовтень-листопад – суспільно-гуманітарні;
              грудень-січень – проєкти кафедри розвитку, лютий-березень – STEM-проєкти, квітень-травень – проєкти
              кафедри іноземних мов.</p>
            <p>Особливості проєктних занурень:</p>
            <ul>
              <li>
                «проєктні занурення» – це навчальні проєкти, які посилюють навчальні програми обов’язкових шкільних
                предметів, дають можливість учням дізнатися більше з гуманітарних, природничих дисциплін чи «предметів
                розвитку» за обраною темою, мислити науково, вчитися цікаво і практично.
              </li>
              <li>на «проєктні занурення» визначений спеціальний час у розкладі (поза предметом), і такі проєктні
                заняття є обов’язковими для учнів. Зазвичай час на підготовку проєктів виділений 7-8-м уроком, щоб
                вчителі-предметники мали змогу працювати з учнями у малих групах.</li>
              <li>за проєкти науковий керівник виставляє із предмета в журнал оцінку, яка прирівнюється за вагою до
                тематичної й істотно впливає на семестрову оцінку. Якщо проєкт інтегрований, оцінок може бути кілька з
                різних предметів. Це мотивує учнів поглиблено працювати над своїми проєктами і ділитися здобутими
                результатами.</li>
              <li>кожне «проєктне занурення» закінчується захистом, де учні демонструють конкретні результати своєї
                роботи, а ще те, як вони розвинули проєктне мислення, вміння працювати з інформацією, критично оцінювати
                її, взаємодіяти в командні, презентувати свої результати – важливі компетентності, потрібні для «творців
                світу».</li>
            </ul>
          </div>
        </div>
        <div class="faq-item">
          <div class="faq-item-top">
            <div class="faq-item-top-heading">
              Безпечна школа. Які заходи проводять у школі для створення безпечного середовища для учнів?
            </div>
            <div class="faq-item-top-arrow">
              <img src="/images/arr5.svg" alt="arr">
            </div>
          </div>
          <div class="faq-item-drop">
            <p>Вам, мабуть, відомо, що особливістю Як працює самоврядування у школах МрійДій є проєктне навчання.
              І це невипадково, бо методика проєктів – одна із найуспішніших, аби продемонструвати учням, як
              застосовувати знання у щоденному житті та розвинути важливі компетентності – предметні та життєві.
              Учні 5-9 класів звично працюють проєктним методом у рамках усіх предметів упродовж навчального року. Однак
              є тривалі навчальні та наукові проєкти, реалізація яких охоплює майже два місяці, а учні докладають
              особливі зусилля, щоб продемонструвати свої проєктні здобутки. Саме такі проєкти в називають проєктними
              зануреннями.
              Теми проєктів учні обирають самі на «Ярмарку проєктів», відповідно до власних зацікавлень. Організовують
              такі «ярмарки» вчителі-предметники.
            </p>
            <p>Упродовж вересня-жовтня діти усіх класів з’ясовують, що таке проєкти, як їх планувати й реалізовувати, у
              чому полягає особливість проєктного мислення. Проєктами учнів керують наукові керівники – вчителі кафедр.
              Зазвичай кожні два місяці змінюються теми проєктів: жовтень-листопад – суспільно-гуманітарні;
              грудень-січень – проєкти кафедри розвитку, лютий-березень – STEM-проєкти, квітень-травень – проєкти
              кафедри іноземних мов.</p>
            <p>Особливості проєктних занурень:</p>
            <ul>
              <li>
                «проєктні занурення» – це навчальні проєкти, які посилюють навчальні програми обов’язкових шкільних
                предметів, дають можливість учням дізнатися більше з гуманітарних, природничих дисциплін чи «предметів
                розвитку» за обраною темою, мислити науково, вчитися цікаво і практично.
              </li>
              <li>на «проєктні занурення» визначений спеціальний час у розкладі (поза предметом), і такі проєктні
                заняття є обов’язковими для учнів. Зазвичай час на підготовку проєктів виділений 7-8-м уроком, щоб
                вчителі-предметники мали змогу працювати з учнями у малих групах.</li>
              <li>за проєкти науковий керівник виставляє із предмета в журнал оцінку, яка прирівнюється за вагою до
                тематичної й істотно впливає на семестрову оцінку. Якщо проєкт інтегрований, оцінок може бути кілька з
                різних предметів. Це мотивує учнів поглиблено працювати над своїми проєктами і ділитися здобутими
                результатами.</li>
              <li>кожне «проєктне занурення» закінчується захистом, де учні демонструють конкретні результати своєї
                роботи, а ще те, як вони розвинули проєктне мислення, вміння працювати з інформацією, критично оцінювати
                її, взаємодіяти в командні, презентувати свої результати – важливі компетентності, потрібні для «творців
                світу».</li>
            </ul>
          </div>
        </div>
        <div class="faq-item">
          <div class="faq-item-top">
            <div class="faq-item-top-heading">
              Що таке проєктний підхід у МрійДій?
            </div>
            <div class="faq-item-top-arrow">
              <img src="/images/arr5.svg" alt="arr">
            </div>
          </div>
          <div class="faq-item-drop">
            <p>Вам, мабуть, відомо, що особливістю Як працює самоврядування у школах МрійДій є проєктне навчання.
              І це невипадково, бо методика проєктів – одна із найуспішніших, аби продемонструвати учням, як
              застосовувати знання у щоденному житті та розвинути важливі компетентності – предметні та життєві.
              Учні 5-9 класів звично працюють проєктним методом у рамках усіх предметів упродовж навчального року. Однак
              є тривалі навчальні та наукові проєкти, реалізація яких охоплює майже два місяці, а учні докладають
              особливі зусилля, щоб продемонструвати свої проєктні здобутки. Саме такі проєкти в називають проєктними
              зануреннями.
              Теми проєктів учні обирають самі на «Ярмарку проєктів», відповідно до власних зацікавлень. Організовують
              такі «ярмарки» вчителі-предметники.
            </p>
            <p>Упродовж вересня-жовтня діти усіх класів з’ясовують, що таке проєкти, як їх планувати й реалізовувати, у
              чому полягає особливість проєктного мислення. Проєктами учнів керують наукові керівники – вчителі кафедр.
              Зазвичай кожні два місяці змінюються теми проєктів: жовтень-листопад – суспільно-гуманітарні;
              грудень-січень – проєкти кафедри розвитку, лютий-березень – STEM-проєкти, квітень-травень – проєкти
              кафедри іноземних мов.</p>
            <p>Особливості проєктних занурень:</p>
            <ul>
              <li>
                «проєктні занурення» – це навчальні проєкти, які посилюють навчальні програми обов’язкових шкільних
                предметів, дають можливість учням дізнатися більше з гуманітарних, природничих дисциплін чи «предметів
                розвитку» за обраною темою, мислити науково, вчитися цікаво і практично.
              </li>
              <li>на «проєктні занурення» визначений спеціальний час у розкладі (поза предметом), і такі проєктні
                заняття є обов’язковими для учнів. Зазвичай час на підготовку проєктів виділений 7-8-м уроком, щоб
                вчителі-предметники мали змогу працювати з учнями у малих групах.</li>
              <li>за проєкти науковий керівник виставляє із предмета в журнал оцінку, яка прирівнюється за вагою до
                тематичної й істотно впливає на семестрову оцінку. Якщо проєкт інтегрований, оцінок може бути кілька з
                різних предметів. Це мотивує учнів поглиблено працювати над своїми проєктами і ділитися здобутими
                результатами.</li>
              <li>кожне «проєктне занурення» закінчується захистом, де учні демонструють конкретні результати своєї
                роботи, а ще те, як вони розвинули проєктне мислення, вміння працювати з інформацією, критично оцінювати
                її, взаємодіяти в командні, презентувати свої результати – важливі компетентності, потрібні для «творців
                світу».</li>
            </ul>
          </div>
        </div>
        <div class="faq-item">
          <div class="faq-item-top">
            <div class="faq-item-top-heading">
              Що таке проєктний підхід у МрійДій?
            </div>
            <div class="faq-item-top-arrow">
              <img src="/images/arr5.svg" alt="arr">
            </div>
          </div>
          <div class="faq-item-drop">
            <p>Вам, мабуть, відомо, що особливістю Як працює самоврядування у школах МрійДій є проєктне навчання.
              І це невипадково, бо методика проєктів – одна із найуспішніших, аби продемонструвати учням, як
              застосовувати знання у щоденному житті та розвинути важливі компетентності – предметні та життєві.
              Учні 5-9 класів звично працюють проєктним методом у рамках усіх предметів упродовж навчального року. Однак
              є тривалі навчальні та наукові проєкти, реалізація яких охоплює майже два місяці, а учні докладають
              особливі зусилля, щоб продемонструвати свої проєктні здобутки. Саме такі проєкти в називають проєктними
              зануреннями.
              Теми проєктів учні обирають самі на «Ярмарку проєктів», відповідно до власних зацікавлень. Організовують
              такі «ярмарки» вчителі-предметники.
            </p>
            <p>Упродовж вересня-жовтня діти усіх класів з’ясовують, що таке проєкти, як їх планувати й реалізовувати, у
              чому полягає особливість проєктного мислення. Проєктами учнів керують наукові керівники – вчителі кафедр.
              Зазвичай кожні два місяці змінюються теми проєктів: жовтень-листопад – суспільно-гуманітарні;
              грудень-січень – проєкти кафедри розвитку, лютий-березень – STEM-проєкти, квітень-травень – проєкти
              кафедри іноземних мов.</p>
            <p>Особливості проєктних занурень:</p>
            <ul>
              <li>
                «проєктні занурення» – це навчальні проєкти, які посилюють навчальні програми обов’язкових шкільних
                предметів, дають можливість учням дізнатися більше з гуманітарних, природничих дисциплін чи «предметів
                розвитку» за обраною темою, мислити науково, вчитися цікаво і практично.
              </li>
              <li>на «проєктні занурення» визначений спеціальний час у розкладі (поза предметом), і такі проєктні
                заняття є обов’язковими для учнів. Зазвичай час на підготовку проєктів виділений 7-8-м уроком, щоб
                вчителі-предметники мали змогу працювати з учнями у малих групах.</li>
              <li>за проєкти науковий керівник виставляє із предмета в журнал оцінку, яка прирівнюється за вагою до
                тематичної й істотно впливає на семестрову оцінку. Якщо проєкт інтегрований, оцінок може бути кілька з
                різних предметів. Це мотивує учнів поглиблено працювати над своїми проєктами і ділитися здобутими
                результатами.</li>
              <li>кожне «проєктне занурення» закінчується захистом, де учні демонструють конкретні результати своєї
                роботи, а ще те, як вони розвинули проєктне мислення, вміння працювати з інформацією, критично оцінювати
                її, взаємодіяти в командні, презентувати свої результати – важливі компетентності, потрібні для «творців
                світу».</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="faq-contacts-fluid">
    <div class="faq-contacts-centered">
      <div class="contacts-first-content">
        <div class="contacts-first-left">
          <div class="faq-contacts-content-left">
            маєте запитання?</div>
        </div>
        <div class="contacts-first-right">
          <div class="contacts-first-right-tabs">
            <div class="contacts-first-right-tabs-item
            contacts-tab-question active">
              <div class="contacts-first-right-tabs-item-bg"></div>
              <span>запитати</span>
            </div>
            <div class="contacts-first-right-tabs-item contacts-tab-call">
              <div class="contacts-first-right-tabs-item-bg"></div>
              <span>Замовити дзвінок</spa>
            </div>
          </div>
          <form action="" class="contacts-first-right-form contacts-form-question show">
            <div class="contacts-first-right-form-input">
              <input type="text" placeholder="ВАше імʼя*" id="contactName">
              <div class="error-text">
                *це поле є обов’язковим
              </div>
            </div>
            <div class="contacts-first-right-form-input">
              <input type="text" placeholder="номер телефону*" id="contactPhone">
              <div class="error-text">
                *це поле є обов’язковим
              </div>
            </div>
            <div class="contacts-first-right-form-input">
              <input type="text" placeholder="email*" id="contactEmail">
              <div class="error-text">
                *це поле є обов’язковим
              </div>
            </div>
            <div class="contacts-first-right-form-input">
              <input type="text" placeholder="ваше запитання" id="contactAsk">
              <div class="error-text">
                *це поле є обов’язковим
              </div>
            </div>
            <button type="submit" class="contacts-first-right-form-btn">
              надіслати
            </button>
          </form>

          <form action="" class="contacts-first-right-form contacts-form-call">
            <div class="contacts-first-right-form-input">
              <input type="text" placeholder="ВАше імʼя*" id="contactCallName">
              <div class="error-text">
                *це поле є обов’язковим
              </div>
            </div>
            <div class="contacts-first-right-form-input">
              <input type="text" placeholder="номер телефону*" id="contactCallName">
              <div class="error-text">
                *це поле є обов’язковим
              </div>
            </div>
            <button type="submit" class="contacts-first-right-form-btn">
              надіслати
            </button>
          </form>

        </div>
      </div>
    </div>
  </div>


  {% include './components/_footer.html' %}
</main>

{% endblock %}

{% block footer_scripts %}

{% endblock %}
