{% set body_class = "kindergarten-page" %} {% extends "./_layout.html" %} {%
block content %}
<main class="kindergarten-main">
  {% include './components/_header.html' %} {% include
  './components/_breadcrumbs.html' %}

  <div class="kindergarten-first-fluid">
    <div class="kindergarten-first-centered">
      <div class="kindergarten-first-left">
        <div class="kindergarten-first-title">MRIYDIY</div>
        <div class="kindergarten-first-description">
          дитячий садок у львові<br />
          від 2,5 до 6 років
        </div>
        <div class="kindergarten-first-address">
          вул. Угорська 12д<br />
          з 08:30 до 19:00
        </div>
        <div class="online-first-btn">
          <div class="online-first-btn-bg"></div>
          <span>записатися</span>
        </div>
      </div>
      <div class="kindergarten-first-right">
        <div class="kindergarten-first-image">
          <img src="/images/35.jpg" alt="img" />
        </div>
        <div class="kindergarten-first-frame">
          <svg
            width="630"
            height="620"
            viewBox="0 0 630 620"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0 0V620H630V0H0ZM404.88 52.6091C353.051 9.13029 277.454 9.13029 225.626 52.6091C207.76 67.5975 186.281 77.8922 163.427 82.4763C97.3501 95.7281 49.9679 154.774 51.7244 222.222C52.3323 245.534 47.052 268.642 36.371 289.372C5.45482 349.373 22.3897 423.063 76.2601 463.694C94.8655 477.713 109.695 496.268 119.281 517.515C147.047 579.08 215.31 611.779 280.688 595.085C303.303 589.328 327.203 589.328 349.818 595.085C415.197 611.779 483.459 579.08 511.224 517.515C520.81 496.268 535.641 477.713 554.245 463.694C608.113 423.063 625.052 349.373 594.126 289.372C583.453 268.642 578.173 245.534 578.781 222.222C580.539 154.774 533.155 95.7281 467.078 82.4763C444.224 77.8922 422.747 67.5975 404.88 52.6091Z"
              fill="white"
            />
            <path
              class="kindergarten-first-line"
              d="M476.943 69.7932L477.533 66.8517L476.943 69.7932C546.257 83.688 595.956 145.602 594.113 216.306C593.449 241.754 599.216 266.98 610.872 289.611L610.873 289.612C643.307 352.511 625.543 429.771 569.041 472.371C548.723 487.675 532.526 507.929 522.057 531.123L524.792 532.357L522.057 531.123C492.935 595.667 421.329 629.957 352.745 612.453L352.743 612.453C328.048 606.168 301.954 606.168 277.259 612.453L277.257 612.453C208.675 629.957 137.068 595.667 107.945 531.123L105.211 532.357L107.945 531.123C97.477 507.93 81.2823 487.675 60.9627 472.372C4.45641 429.772 -13.3032 352.511 19.1214 289.612L16.4633 288.242L19.1214 289.612C30.7869 266.981 36.5537 241.754 35.8898 216.306C34.0477 145.602 83.7454 83.6879 153.059 69.7932L152.521 67.1097L153.059 69.7932C178.016 64.7897 201.47 53.554 220.983 37.1916C275.35 -8.39719 354.652 -8.39722 409.021 37.1916C428.534 53.5539 451.987 64.7897 476.943 69.7932Z"
              stroke="#FFE18C"
              stroke-width="6"
            />
          </svg>
        </div>
        <div class="kindergarten-icon">
          <img src="/images/icon37.svg" alt="i" />
        </div>
      </div>
    </div>
  </div>

  <div class="kindergarten-second-fluid">
    <div class="kindergarten-second-centered">
      <div class="kindergarten-second-container">
        <div class="kindergarten-second-item">
          <div class="kindergarten-second-item-icon">
            <img src="/images/icon31.svg" alt="img" />
          </div>
          <div class="kindergarten-second-item-title">
            до 18 дітей у кожній групі
          </div>
        </div>
        <div class="kindergarten-second-item">
          <div class="kindergarten-second-item-icon">
            <img src="/images/icon32.svg" alt="img" />
          </div>
          <div class="kindergarten-second-item-title">
            площа садочка 1300 м2 - з укриттям
          </div>
        </div>
        <div class="kindergarten-second-item">
          <div class="kindergarten-second-item-icon">
            <img src="/images/icon33.svg" alt="img" />
          </div>
          <div class="kindergarten-second-item-title">
            спортивно-ігрові зони, прогулянкова територія
          </div>
        </div>
        <div class="kindergarten-second-item">
          <div class="kindergarten-second-item-icon">
            <img src="/images/icon34.svg" alt="img" />
          </div>
          <div class="kindergarten-second-item-title">
            спортивно-ігрові зони, прогулянкова територія
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="kindergarten-quotes-fluid">
    <div class="kindergarten-quotes-centered">
      <div class="kindergarten-quotes-title">МРІЙДІЙ</div>
      <div class="kindergarten-quotes-description">
        Команда школи, яка знаходиться поряд із садком та має 10-річний досвід
        роботи, вирішила створити щось унікальне і для найменших жителів
        українських міст. Так народилася ідея створити не просто садочок, а
        простір розвитку, щасливого дитинства та пізнання для дітей.
      </div>
      <div class="kindergarten-quotes-container">
        <div class="kindergarten-quotes-item">
          <div class="kindergarten-quotes-item-bg">
            <img src="/images/quote-bg-1.svg" alt="bg" />
          </div>
          <div class="kindergarten-quotes-item-text">
            Ми впевнені, що і діти, і дорослі повинні вміти мріяти. А ще важливо
            робити хоч і маленькі, але сміливі кроки до здійснення своєї мрії.
          </div>
        </div>
        <div class="kindergarten-quotes-item">
          <div class="kindergarten-quotes-item-bg">
            <img src="/images/quote-bg-2.svg" alt="bg" />
          </div>
          <div class="kindergarten-quotes-item-text">
            Переконані, що чим більше дитина має можливостей для розвитку та
            творчості, активних ігор та спорту, для фантазій та креативності,
            тим більш розширюється її світогляд, а значить, тим більшу мрію вона
            може сформулювати для себе.
          </div>
        </div>
        <div class="kindergarten-quotes-item">
          <div class="kindergarten-quotes-item-bg">
            <img src="/images/quote-bg-3.svg" alt="bg" />
          </div>
          <div class="kindergarten-quotes-item-text">
            В садку ми створили такі умови, щоб наші діти проживали щасливе
            дитинство, наповнене радістю, турботою, розвитком, веселощами,
            цікавими активностями та дослідами.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="kindergarten-approach-fluid">
    <div class="kindergarten-approach-centered">
      <div class="kindergarten-approach-left">
        <div class="kindergarten-approach-left-title">
          НАШ ПІДХІД ДО РОЗВИТКУ
        </div>
        <div class="kindergarten-approach-description">
          <p>
            Ми розробили авторську програму, в якій залучені основні сфери
            розвитку дитини - ментальна, фізична та інтелектуальна.
          </p>
          <p>
            В нашому садку діти розвиваються та якісно проживають своє
            дитинство, наповнене іграми, веселощами, спілкуванням з друзями,
            цікавими активностями та всестороннім розвитком.
          </p>
        </div>
      </div>
      <div class="kindergarten-approach-container kindergarten-approach-slider">
        <div
          class="kindergarten-approach-item js-modal-link"
          data-target="approach-popup"
        >
          <div class="kindergarten-approach-item-inner">
            <div class="kindergarten-approach-item-num">01</div>
            <div class="kindergarten-approach-item-name">
              МЕНТАЛЬНЕ ЗДОРОВ'Я
            </div>
            <div class="kindergarten-approach-item-image">
              <img src="/images/36.jpg" alt="img" />
            </div>
          </div>
        </div>
        <div
          class="kindergarten-approach-item js-modal-link"
          data-target="approach-popup"
        >
          <div class="kindergarten-approach-item-inner">
            <div class="kindergarten-approach-item-num">02</div>
            <div class="kindergarten-approach-item-name">ФІЗИЧНЕ ЗДОРОВ'Я</div>
            <div class="kindergarten-approach-item-image">
              <img src="/images/36.jpg" alt="img" />
            </div>
          </div>
        </div>
        <div
          class="kindergarten-approach-item js-modal-link"
          data-target="approach-popup"
        >
          <div class="kindergarten-approach-item-inner">
            <div class="kindergarten-approach-item-num">03</div>
            <div class="kindergarten-approach-item-name">
              ІНТЕЛЕКТУАЛЬНИЙ РОЗВИТОК
            </div>
            <div class="kindergarten-approach-item-image">
              <img src="/images/36.jpg" alt="img" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="kindergarten-how-fluid">
    <div class="kindergarten-how-centered">
      <div class="kindergarten-how-rectangle"></div>
      <div class="kindergarten-how-left">
        <img src="/images/40.jpg" alt="img" />
      </div>
      <div class="kindergarten-how-right">
        <div class="kindergarten-how-right-title">
          ЯК МИ ДОСЛІДЖУВАТИМЕМО СВІТ?
        </div>
        <ul class="kindergarten-how-right-list">
          <li>
            Вивчаючи вулкани, зробимо хімічний дослід, через який
            продемонструємо як відбувається виверження лави. Подивимося цікаве
            відео про найвідоміші вулкани світу та порахуємо, скільки всього
            існує вулканів на Планеті.
          </li>
          <li>
            Вивчаючи рослини, сформуємо свій город і будемо щодня його поливати
            та спостерігати як із маленького зерняти виросте смачна морквина;
            або як із кісточки буде виднітися маленький пагін, а за кілька років
            виросте дерево; як на стеблині з'являється горох, з яким ми потім
            приготуємо салат.
          </li>
          <li>
            Вивчаючи властивості води, спробуємо її заморозити та зробити так,
            щоб вона зникла. А на завершення експериментів проведемо водні ігри,
            щоб переконатися в тому, що вода мокра.
          </li>
          <li>
            Ми будемо досліджувати весь світ навколо себе та використовувати для
            цього гру, експерименти, досліди, підручні матеріали. Подаруємо
            дітям захоплення від процесу, завдяки чому в них сформується любов
            до нових знань.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="kindergarten-schedule-fluid">
    <div class="kindergarten-schedule-centered">
      <div class="kindergarten-schedule-title js-stager-trigger">
        ОДИН ІЗ ДНІВ ДИТИНИ У САДКУ
      </div>
      <div class="kindergarten-schedule-content">
        <div class="kindergarten-schedule-left">
          <div class="kindergarten-schedule-left-item js-stager-anim">
            <div class="kindergarten-schedule-left-item-time">
              <div class="kindergarten-schedule-left-item-time-start">8:30</div>
              <div class="kindergarten-schedule-left-item-time-end">9:30</div>
            </div>
            <div class="kindergarten-schedule-left-item-text">
              біжу на зустріч до своїх друзів та вчителя
            </div>
          </div>
          <div class="kindergarten-schedule-left-item js-stager-anim">
            <div class="kindergarten-schedule-left-item-time">
              <div class="kindergarten-schedule-left-item-time-start">9:30</div>
              <div class="kindergarten-schedule-left-item-time-end">10:00</div>
            </div>
            <div class="kindergarten-schedule-left-item-text">
              смачно та корисно снідаю
            </div>
          </div>
          <div class="kindergarten-schedule-left-item js-stager-anim">
            <div class="kindergarten-schedule-left-item-time">
              <div class="kindergarten-schedule-left-item-time-start">
                10:00
              </div>
              <div class="kindergarten-schedule-left-item-time-end">11:45</div>
            </div>
            <div class="kindergarten-schedule-left-item-text">
              розвиваюся та навчаюся
            </div>
          </div>
          <div class="kindergarten-schedule-left-item js-stager-anim">
            <div class="kindergarten-schedule-left-item-time">
              <div class="kindergarten-schedule-left-item-time-start">
                11:45
              </div>
              <div class="kindergarten-schedule-left-item-time-end">12:30</div>
            </div>
            <div class="kindergarten-schedule-left-item-text">
              дихаю свіжим повітрям, беру активну участь в іграх
            </div>
          </div>
          <div class="kindergarten-schedule-left-item js-stager-anim">
            <div class="kindergarten-schedule-left-item-time">
              <div class="kindergarten-schedule-left-item-time-start">
                12:30
              </div>
              <div class="kindergarten-schedule-left-item-time-end">13:00</div>
            </div>
            <div class="kindergarten-schedule-left-item-text">
              смачно та корисно обідаю
            </div>
          </div>
          <div class="kindergarten-schedule-left-item js-stager-anim">
            <div class="kindergarten-schedule-left-item-time">
              <div class="kindergarten-schedule-left-item-time-start">
                13:00
              </div>
              <div class="kindergarten-schedule-left-item-time-end">13:30</div>
            </div>
            <div class="kindergarten-schedule-left-item-text">
              насолоджуюся солодким читанням
            </div>
          </div>
          <div class="kindergarten-schedule-left-item js-stager-anim">
            <div class="kindergarten-schedule-left-item-time">
              <div class="kindergarten-schedule-left-item-time-start">
                13:30
              </div>
              <div class="kindergarten-schedule-left-item-time-end">15:00</div>
            </div>
            <div class="kindergarten-schedule-left-item-text">
              розглядаю кольорові сни
            </div>
          </div>
          <div class="kindergarten-schedule-left-item js-stager-anim">
            <div class="kindergarten-schedule-left-item-time">
              <div class="kindergarten-schedule-left-item-time-start">
                15:00
              </div>
              <div class="kindergarten-schedule-left-item-time-end">15:30</div>
            </div>
            <div class="kindergarten-schedule-left-item-text">
              творю та витворяю
            </div>
          </div>
          <div class="kindergarten-schedule-left-item js-stager-anim">
            <div class="kindergarten-schedule-left-item-time">
              <div class="kindergarten-schedule-left-item-time-start">
                15:30
              </div>
              <div class="kindergarten-schedule-left-item-time-end">16:00</div>
            </div>
            <div class="kindergarten-schedule-left-item-text">
              куштую смачний та корисний підвечірок
            </div>
          </div>
          <div class="kindergarten-schedule-left-item js-stager-anim">
            <div class="kindergarten-schedule-left-item-time">
              <div class="kindergarten-schedule-left-item-time-start">
                16:00
              </div>
              <div class="kindergarten-schedule-left-item-time-end">18:00</div>
            </div>
            <div class="kindergarten-schedule-left-item-text">
              дихаю свіжим повітрям та відвідую улюблені гуртки дихаю свіжим
              повітрям та відвідую улюблені гуртки
            </div>
          </div>
          <div class="kindergarten-schedule-left-item js-stager-anim">
            <div class="kindergarten-schedule-left-item-time">
              <div class="kindergarten-schedule-left-item-time-start">
                18:00
              </div>
              <div class="kindergarten-schedule-left-item-time-end">18:30</div>
            </div>
            <div class="kindergarten-schedule-left-item-text">
              смачно та корисно вечеряю
            </div>
          </div>
          <div class="kindergarten-schedule-left-item js-stager-anim">
            <div class="kindergarten-schedule-left-item-time">
              <div class="kindergarten-schedule-left-item-time-start">
                18:30
              </div>
              <div class="kindergarten-schedule-left-item-time-end">19:00</div>
            </div>
            <div class="kindergarten-schedule-left-item-text">
              збираюся додому, щоб розказати батькам про пригоди
            </div>
          </div>
        </div>
        <!-- <div class="kindergarten-schedule-right">
          <div class="kindergarten-schedule-right-img1">
            <img src="/images/41.jpg" alt="img">
          </div>
          <div class="kindergarten-schedule-right-img2">
            <img src="/images/42.jpg" alt="img">
          </div>
          <div class="kindergarten-schedule-right-img3">
            <img src="/images/43.jpg" alt="img">
          </div>
        </div> -->
      </div>
      <div class="kindergarten-schedule-more">
        <div class="kindergarten-schedule-more-bg"></div>
        <div class="kindergarten-schedule-more-btn">більше</div>
      </div>
    </div>
  </div>

  <div class="home-methods-fluid">
    <div class="home-methods-centered">
      <div class="home-methods-title">унікальні методики</div>
      <div class="home-methods-content">
        <div class="home-methods-left">
          <div class="tabs">
            <div class="tabs__nav">
              <div class="tabs__nav-btn" data-tab="#tab1">
                <span>МРІЄБУДУВАННЯ</span>
              </div>
              <div class="tabs__nav-btn" data-tab="#tab2">
                <span>ДІЄВИЙ ДОСВІД</span>
              </div>
              <div class="tabs__nav-btn" data-tab="#tab3">
                <span>БЕЗПЕКА ТА ПІДТРИМКА</span>
              </div>
              <div class="tabs__nav-btn" data-tab="#tab4">
                <span>ПРОЄКТНЕ НАВЧАННЯ</span>
              </div>
              <div class="tabs__nav-btn" data-tab="#tab5">
                <span>МРІЄБУДУВАННЯ</span>
              </div>
            </div>
          </div>
        </div>
        <div class="home-methods-right tabs__content">
          <div class="tabs__item" id="tab1">
            <div class="home-methods-right-inner-title">МРІЄБУДУВАННЯ</div>
            <div class="home-methods-right-inner-content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa
                nunc libero tellus, dignissim id condimentum cursus velit.
                Pharetra pellentesque tellus mauris, in tortor. Leo nisi augue
                leo quis convallis arcu massa bibendum cras. In facilisi morbi
                odio quis. Aliquet aliquam ipsum commodo fermentum nunc, urna
                risus tortor turpis. Fermentum eu vel felis ornare sit tincidunt
                viverra neque interdum.
              </p>
              <img src="/images/12.jpg" alt="img" />
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa
                nunc libero tellus, dignissim id condimentum cursus velit.
                Pharetra pellentesque tellus mauris, in tortor. Leo nisi augue
                leo quis convallis arcu massa bibendum cras. In facilisi morbi
                odio quis. Aliquet aliquam ipsum commodo fermentum nunc, urna
                risus tortor turpis. Fermentum eu vel felis ornare sit tincidunt
                viverra neque interdum.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa
                nunc libero tellus, dignissim id condimentum cursus velit.
                Pharetra pellentesque tellus mauris, in tortor. Leo nisi augue
                leo quis convallis arcu massa bibendum cras. In facilisi morbi
                odio quis. Aliquet aliquam ipsum commodo fermentum nunc, urna
                risus tortor turpis. Fermentum eu vel felis ornare sit tincidunt
                viverra neque interdum. Aliquet aliquam ipsum commodo fermentum
                nunc, urna risus tortor turpis. Fermentum eu vel felis ornare
                sit tincidunt viverra neque interdum.
              </p>
            </div>
          </div>
          <div class="tabs__item" id="tab2">
            <div class="home-methods-right-inner-title">ДІЄВИЙ ДОСВІД</div>
            <div class="home-methods-right-inner-content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa
                nunc libero tellus, dignissim id condimentum cursus velit.
                Pharetra pellentesque tellus mauris, in tortor. Leo nisi augue
                leo quis convallis arcu massa bibendum cras. In facilisi morbi
                odio quis. Aliquet aliquam ipsum commodo fermentum nunc, urna
                risus tortor turpis. Fermentum eu vel felis ornare sit tincidunt
                viverra neque interdum.
              </p>

              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa
                nunc libero tellus, dignissim id condimentum cursus velit.
                Pharetra pellentesque tellus mauris, in tortor. Leo nisi augue
                leo quis convallis arcu massa bibendum cras. In facilisi morbi
                odio quis. Aliquet aliquam ipsum commodo fermentum nunc, urna
                risus tortor turpis. Fermentum eu vel felis ornare sit tincidunt
                viverra neque interdum.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa
                nunc libero tellus, dignissim id condimentum cursus velit.
                Pharetra pellentesque tellus mauris, in tortor. Leo nisi augue
                leo qui
              </p>
              <img src="/images/12.jpg" alt="img" />
            </div>
          </div>
          <div class="tabs__item" id="tab3">
            <div class="home-methods-right-inner-title">
              БЕЗПЕКА ТА ПІДТРИМКА
            </div>
            <div class="home-methods-right-inner-content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa
                nunc libero tellus, dignissim id condimentum cursus velit.
                Pharetra pellentesque tellus mauris, in tortor. Leo nisi augue
                leo quis convallis arcu massa bibendum cras. In facilisi morbi
                odio quis. Aliquet aliquam ipsum commodo fermentum nunc, urna
                risus tortor turpis. Fermentum eu vel felis ornare sit tincidunt
                viverra neque interdum.
              </p>
              <img src="/images/12.jpg" alt="img" />
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa
                nunc libero tellus, dignissim id condimentum cursus velit.
                Pharetra pellentesque tellus mauris, in tortor. Leo nisi augue
                leo quis convallis arcu massa bibendum cras. In facilisi morbi
                odio quis. Aliquet aliquam ipsum commodo fermentum nunc, urna
                risus tortor turpis. Fermentum eu vel felis ornare sit tincidunt
                viverra neque interdum.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa
                nunc libero tellus, dignissim id condimentum cursus velit.
                Pharetra pellentesque tellus mauris, in tortor. Leo nisi augue
                leo quis convallis arcu massa bibendum cras. In facilisi morbi
                odio quis. Aliquet aliquam ipsum commodo fermentum nunc, urna
                risus tortor turpis. Fermentum eu vel felis ornare sit tincidunt
                viverra neque interdum. Aliquet aliquam ipsum commodo fermentum
                nunc, urna risus tortor turpis. Fermentum eu vel felis ornare
                sit tincidunt viverra neque interdum.
              </p>
            </div>
          </div>
          <div class="tabs__item" id="tab4">
            <div class="home-methods-right-inner-title">ПРОЄКТНЕ НАВЧАННЯ</div>
            <div class="home-methods-right-inner-content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa
                nunc libero tellus, dignissim id condimentum cursus velit.
                Pharetra pellentesque tellus mauris, in tortor. Leo nisi augue
                leo quis convallis arcu massa bibendum cras. In facilisi morbi
                odio quis. Aliquet aliquam ipsum commodo fermentum nunc, urna
                risus tortor turpis. Fermentum eu vel felis ornare sit tincidunt
                viverra neque interdum.
              </p>
              <img src="/images/12.jpg" alt="img" />
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa
                nunc libero tellus, dignissim id condimentum cursus velit.
                Pharetra pellentesque tellus mauris, in tortor. Leo nisi augue
                leo quis convallis arcu massa bibendum cras. In facilisi morbi
                odio quis. Aliquet aliquam ipsum commodo fermentum nunc, urna
                risus tortor turpis. Fermentum eu vel felis ornare sit tincidunt
                viverra neque interdum.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa
                nunc libero tellus, dignissim id condimentum cursus velit.
                Pharetra pellentesque tellus mauris, in tortor. Leo nisi augue
                leo quis convallis arcu massa bibendum cras. In facilisi morbi
                odio quis. Aliquet aliquam ipsum commodo fermentum nunc, urna
                risus tortor turpis. Fermentum eu vel felis ornare sit tincidunt
                viverra neque interdum. Aliquet aliquam ipsum commodo fermentum
                nunc, urna risus tortor turpis. Fermentum eu vel felis ornare
                sit tincidunt viverra neque interdum.
              </p>
            </div>
          </div>
          <div class="tabs__item" id="tab5">
            <div class="home-methods-right-inner-title">МРІЄБУДУВАННЯ</div>
            <div class="home-methods-right-inner-content">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa
                nunc libero tellus, dignissim id condimentum cursus velit.
                Pharetra pellentesque tellus mauris, in tortor. Leo nisi augue
                leo quis convallis arcu massa bibendum cras. In facilisi morbi
                odio quis. Aliquet aliquam ipsum commodo fermentum nunc, urna
                risus tortor turpis. Fermentum eu vel felis ornare sit tincidunt
                viverra neque interdum.
              </p>
              <img src="/images/12.jpg" alt="img" />
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa
                nunc libero tellus, dignissim id condimentum cursus velit.
                Pharetra pellentesque tellus mauris, in tortor. Leo nisi augue
                leo quis convallis arcu massa bibendum cras. In facilisi morbi
                odio quis. Aliquet aliquam ipsum commodo fermentum nunc, urna
                risus tortor turpis. Fermentum eu vel felis ornare sit tincidunt
                viverra neque interdum.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Massa
                nunc libero tellus, dignissim id condimentum cursus velit.
                Pharetra pellentesque tellus mauris, in tortor. Leo nisi augue
                leo quis convallis arcu massa bibendum cras. In facilisi morbi
                odio quis. Aliquet aliquam ipsum commodo fermentum nunc, urna
                risus tortor turpis. Fermentum eu vel felis ornare sit tincidunt
                viverra neque interdum. Aliquet aliquam ipsum commodo fermentum
                nunc, urna risus tortor turpis. Fermentum eu vel felis ornare
                sit tincidunt viverra neque interdum.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="kindergarten-integrated-fluid">
    <div class="kindergarten-integrated-centered">
      <div class="kindergarten-integrated-title">ІНТЕГРОВАНИЙ ПІДХІД</div>
      <div class="kindergarten-integrated-text">
        Заняття чи будь-яка активність впродовж дня поєднує в собі три сфери
        розвитку - ментальну, інтелектуальну та фізичну. Наприклад, отримуючи
        цікаві завдання для розумової діяльності, одразу залучатиметься і
        фізична активність. А реалізовуватися це все буде в позитивній
        психо-емоційній атмосфері.
      </div>
      <div class="kindergarten-integrated-icon">
        <img src="/images/icon53.svg" alt="img" />
      </div>
    </div>
  </div>

  <div class="kindergarten-gray-wrapper">
    <div class="kindergarten-virtual-fluid">
      <div class="kindergarten-virtual-centered">
        <div class="kindergarten-virtual-image-bg">
          <img src="/images/44.jpg" alt="img" />
        </div>
        <div class="kindergarten-virtual-content">
          <div class="kindergarten-virtual-tag">3d-tour</div>
          <div class="kindergarten-virtual-title">
            віртуальна прогулянка садочком
          </div>
          <div class="kindergarten-virtual-button">
            <div class="kindergarten-virtual-walk-button-bg"></div>
            <span> Прогулятися </span>
          </div>
        </div>
      </div>
    </div>

    <div class="kindergarten-desktop-slider-fluid">
      <div class="kindergarten-desktop-slider-wrapper">
        <div class="kindergarten-desktop-slider-mobile-title">KIDS PHOTO</div>
        <div class="kindergarten-desktop-slider-arrows">
          <div class="slick-prev">
            <svg
              width="65"
              height="65"
              viewBox="0 0 65 65"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_920_8839)">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M32.5 2.84124e-06C14.5507 4.41042e-06 -4.41042e-06 14.5507 -2.84124e-06 32.5C-1.27206e-06 50.4493 14.5507 65 32.5 65C50.4493 65 65 50.4493 65 32.5C65 14.5507 50.4493 1.27206e-06 32.5 2.84124e-06ZM22.5 35L39.5 52.5C41.0543 54.1 42.8143 52.8333 43.5 52C44.7 50.4 44 49 43.5 48.5L28 32.5L43 17C45 15 44 13.25 43 12.5C41.4 11.3 39.6667 12 39 12.5L22.5 29.5C19.5 32 21.5 34 22.5 35Z"
                  fill="#FF5C00"
                />
                <path
                  d="M22.5 35L39.5 52.5C41.0543 54.1 42.8143 52.8333 43.5 52C44.7 50.4 44 49 43.5 48.5L28 32.5L43 17C45 15 44 13.25 43 12.5C41.4 11.3 39.6667 12 39 12.5L22.5 29.5C19.5 32 21.5 34 22.5 35Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_920_8839">
                  <rect
                    width="65"
                    height="65"
                    fill="white"
                    transform="translate(65 65) rotate(180)"
                  />
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="slick-next">
            <svg
              width="65"
              height="65"
              viewBox="0 0 65 65"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_920_8841)">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M32.5 65C50.4493 65 65 50.4493 65 32.5C65 14.5507 50.4493 8.82084e-06 32.5 5.68248e-06C14.5507 2.54413e-06 -2.54413e-06 14.5507 -5.68248e-06 32.5C-8.82084e-06 50.4493 14.5507 65 32.5 65ZM42.5 30L25.5 12.5C23.9457 10.9 22.1857 12.1667 21.5 13C20.3 14.6 21 16 21.5 16.5L37 32.5L22 48C20 50 21 51.75 22 52.5C23.6 53.7 25.3333 53 26 52.5L42.5 35.5C45.5 33 43.5 31 42.5 30Z"
                  fill="#FF5C00"
                />
                <path
                  d="M42.5 30L25.5 12.5C23.9457 10.9 22.1857 12.1667 21.5 13C20.3 14.6 21 16 21.5 16.5L37 32.5L22 48C20 50 21 51.75 22 52.5C23.6 53.7 25.3333 53 26 52.5L42.5 35.5C45.5 33 43.5 31 42.5 30Z"
                  fill="white"
                />
              </g>
              <defs>
                <clipPath id="clip0_920_8841">
                  <rect width="65" height="65" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
        </div>
        <div class="kindergarten-desktop-slider">
          <div class="kindergarten-desktop-slider-item">
            <div class="kindergarten-desktop-slider-item-inner">
              <div class="kindergarten-desktop-slider-item-left">
                <div class="kindergarten-desktop-slider-item-left-name">
                  KIDS PHOTO
                </div>
                <div class="kindergarten-desktop-slider-item-left-img">
                  <img src="/images/45.jpg" alt="img" />
                </div>
              </div>
              <div class="kindergarten-desktop-slider-item-right">
                <div class="kindergarten-desktop-slider-item-right-img1">
                  <img src="/images/46.jpg" alt="img" />
                </div>
                <div class="kindergarten-desktop-slider-item-right-img2">
                  <img src="/images/47.jpg" alt="img" />
                </div>
              </div>
            </div>
          </div>
          <div class="kindergarten-desktop-slider-item">
            <div class="kindergarten-desktop-slider-item-inner">
              <div class="kindergarten-desktop-slider-item-left">
                <div class="kindergarten-desktop-slider-item-left-name">
                  KIDS PHOTO
                </div>
                <div class="kindergarten-desktop-slider-item-left-img">
                  <img src="/images/47.jpg" alt="img" />
                </div>
              </div>
              <div class="kindergarten-desktop-slider-item-right">
                <div class="kindergarten-desktop-slider-item-right-img1">
                  <img src="/images/45.jpg" alt="img" />
                </div>
                <div class="kindergarten-desktop-slider-item-right-img2">
                  <img src="/images/46.jpg" alt="img" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include './components/_home-team.html' %}
  </div>

  {% include './components/_home-price.html' %} {% include
  './components/_home-request.html' %}

  <div class="kindergarten-branches-fluid">
    <div class="kindergarten-branches-centered">
      <div class="kindergarten-branches-title">Наші садочки</div>
      <div
        class="kindergarten-branches-container js-kindergarten-branches-slider"
      >
        <div class="kindergarten-branches-item">
          <div class="kindergarten-branches-item-inner">
            <div class="kindergarten-branches-item-image">
              <img src="/images/52.jpg" alt="img" />
              <div class="kindergarten-branches-item-tag">Київ</div>
            </div>
            <div class="kindergarten-branches-item-plane">
              <div class="kindergarten-branches-item-plane-name">
                вул. Угорська, 12Е
              </div>
              <div class="kindergarten-branches-item-plane-map">
                <img src="/images/icon54.svg" alt="img" />
                <span>Переглянути на карті</span>
              </div>
            </div>
          </div>
        </div>
        <div class="kindergarten-branches-item">
          <div class="kindergarten-branches-item-inner">
            <div class="kindergarten-branches-item-image">
              <img src="/images/52.jpg" alt="img" />
              <div class="kindergarten-branches-item-tag white">Львів</div>
            </div>
            <div class="kindergarten-branches-item-plane">
              <div class="kindergarten-branches-item-plane-name">
                Школа MRIYDIY, Львів, вул. Угорська, 12Е
              </div>
              <div class="kindergarten-branches-item-plane-map">
                <img src="/images/icon54.svg" alt="img" />
                <span>Переглянути на карті</span>
              </div>
            </div>
          </div>
        </div>
        <div class="kindergarten-branches-item">
          <div class="kindergarten-branches-item-inner">
            <div class="kindergarten-branches-item-image">
              <img src="/images/52.jpg" alt="img" />
              <div class="kindergarten-branches-item-tag">Київ</div>
            </div>
            <div class="kindergarten-branches-item-plane">
              <div class="kindergarten-branches-item-plane-name">
                вул. Угорська, 12Е
              </div>
              <div class="kindergarten-branches-item-plane-map">
                <img src="/images/icon54.svg" alt="img" />
                <span>Переглянути на карті</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include './components/_home-social.html' %} {% include
  './components/_footer.html' %}
</main>

{% endblock %} {% block footer_scripts %}
<script>
  $('.panel-heading').click(function () {
    $(this).toggleClass('in').next().slideToggle();
    $('.panel-collapse').not(this).removeClass('in').next().slideUp();
    console.log('hello');
  });

  $('.panel-collapse').click(function () {
    $(this).toggleClass('in').next().slideToggle();
    $('.panel-collapse').not(this).removeClass('in').next().slideUp();
  });
</script>

{% endblock %}
