{% set body_class = "news-page" %} {% extends "./_layout.html" %} {% block
content %}
<main class="news-main">
  {% include './components/_header.html' %}

  <div class="news-fluid">
    <div class="news-centered">
      <div class="news-top">
        <div class="news-top-title">НОВИНИ ТА ПОДІЇ</div>
        <div class="news-top-tags">
          <div class="news-top-tags-inner">
            <a href="/" class="news-top-tags-item active"> новини </a>
            <a href="/" class="news-top-tags-item"> події </a>
            <a href="/" class="news-top-tags-item"> корисні статті </a>
            <a href="/" class="news-top-tags-item"> усі матеріали </a>
          </div>
        </div>
      </div>
      <div class="news-container">
        <a href="/" class="news-item">
          <div class="news-item-image">
            <img src="/images/26.jpg" alt="img" />
            <div class="news-item-tag">новини</div>
          </div>
          <div class="news-item-name">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum
            dolor sit amet, consectetur adipiscing elit.
          </div>
          <div class="news-item-date">22/08/2022</div>
        </a>
        <a href="/" class="news-item">
          <div class="news-item-image">
            <img src="/images/27.jpg" alt="img" />
            <div class="news-item-tag">новини</div>
          </div>
          <div class="news-item-name">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
          <div class="news-item-date">22/08/2022</div>
        </a>
        <a href="/" class="news-item">
          <div class="news-item-image">
            <img src="/images/28.jpg" alt="img" />
            <div class="news-item-tag">новини</div>
          </div>
          <div class="news-item-name">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
          <div class="news-item-date">22/08/2022</div>
        </a>
        <a href="/" class="news-item">
          <div class="news-item-image">
            <img src="/images/29.jpg" alt="img" />
            <div class="news-item-tag">новини</div>
          </div>
          <div class="news-item-name">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
          <div class="news-item-date">22/08/2022</div>
        </a>
        <a href="/" class="news-item">
          <div class="news-item-image">
            <img src="/images/30.jpg" alt="img" />
            <div class="news-item-tag">новини</div>
          </div>
          <div class="news-item-name">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
          <div class="news-item-date">22/08/2022</div>
        </a>
        <a href="/" class="news-item">
          <div class="news-item-image">
            <img src="/images/31.jpg" alt="img" />
            <div class="news-item-tag">новини</div>
          </div>
          <div class="news-item-name">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
          <div class="news-item-date">22/08/2022</div>
        </a>
        <a href="/" class="news-item">
          <div class="news-item-image">
            <img src="/images/32.jpg" alt="img" />
            <div class="news-item-tag">новини</div>
          </div>
          <div class="news-item-name">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
          <div class="news-item-date">22/08/2022</div>
        </a>
        <a href="/" class="news-item">
          <div class="news-item-image">
            <img src="/images/33.jpg" alt="img" />
            <div class="news-item-tag">новини</div>
          </div>
          <div class="news-item-name">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
          <div class="news-item-date">22/08/2022</div>
        </a>
        <a href="/" class="news-item">
          <div class="news-item-image">
            <img src="/images/34.jpg" alt="img" />
            <div class="news-item-tag">новини</div>
          </div>
          <div class="news-item-name">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
          <div class="news-item-date">22/08/2022</div>
        </a>
      </div>
      <div class="news-pagination">
        <div class="news-pagination-prev disabled">
          <svg
            width="12"
            height="20"
            viewBox="0 0 12 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10 18L2 10L10 2"
              stroke="#FF5C00"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <a href="/" class="news-pagination-item active">1</a>
        <a href="/" class="news-pagination-item">2</a>
        <a href="/" class="news-pagination-item">3</a>
        <a href="/" class="news-pagination-item">...</a>
        <a href="/" class="news-pagination-item">34</a>
        <a href="/" class="news-pagination-item">35</a>
        <div class="news-pagination-next">
          <svg
            width="12"
            height="20"
            viewBox="0 0 12 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2 2L10 10L2 18"
              stroke="#FF5C00"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>

  <div class="news-subscribe-fluid">
    <div class="news-subscribe-centered">
      <div class="news-subscribe-top">
        <div class="news-subscribe-top-title">
          цікаве без спаму від MRIYDIY?
        </div>
        <div class="news-subscribe-top-icon">
          <img src="/images/icon30.svg" alt="img" />
        </div>
      </div>
      <form action="" class="news-subscribe-form">
        <div class="news-subscribe-input">
          <input type="text" placeholder="ваше ім’я*" id="newsName" />
          <div class="error-text">*це поле є обов’язковим</div>
        </div>
        <div class="news-subscribe-input error">
          <input type="text" placeholder="email*" id="newsEmail" />
          <div class="error-text">*це поле є обов’язковим</div>
        </div>
        <button type="submit" class="news-subscribe-button">Підписатися</button>
      </form>
      <div class="news-subscribe-success-text">
        Дякуємо! Ваша підписка оформлена.
      </div>
    </div>
  </div>

  {% include './components/_footer.html' %}
</main>

{% endblock %} {% block footer_scripts %} {% endblock %}
