{% set body_class = "one-news-page" %} {% extends "./_layout.html" %} {% block
content %}
<main class="one-news-main">
  {% include './components/_header.html' %}

  <div class="one-news-fluid">
    <div class="one-news-centered">
      <div class="one-news-date">22/08/2022</div>
      <div class="one-news-title">Про школу повного дня MRIYDIY у Львові</div>
      <div class="one-news-images">
        <img src="/images/65.jpg" alt="img" />
      </div>
      <div class="one-news-views">
        <img src="/images/icon87.svg" alt="i" />
        <span>22</span>
      </div>
      <p>Школа повного дня MRIYDIY у Львові – це:</p>
      <ul class="one-news-list">
        <li>проєктне навчання;</li>
        <li>
          вивчення точних наук через практику – наукові досліди та експе<strong
            >рименти в сучасних лабо</strong
          >раторіях;
        </li>
        <li>професійні занурення – учні пізнають різні професійні напрямки;</li>
        <li><em>формування цілей та мрій, планування їх</em> та рефлексії;</li>
        <li>
          поглиблена англійська мова, дебати, заняття з логіки англійською,
          білінгвальні уроки та ще цікаві додаткові предмети;
        </li>
        <li>
          зустрічі з цікавими гостями, письменниками, діячами у нашій шкільній
          бібліотеці;
        </li>
        <li>
          велика пришкільна територія зі спортивними комплексами та
          майданчиками;
        </li>
        <li>
          професійна команда мрійників, які впевнено крокують до своєї мети.
        </li>
      </ul>
      <div class="one-news-request">
        <p>
          Лишайте заявку, щоб дізнатися про можливості, які пропонує MRIYDIY для
          своїх учнів.
        </p>
        <div class="one-news-request-btn">
          <span>записатися</span>
          <img src="/images/icon70.svg" alt="img" />
        </div>
        <div class="one-news-request-btn2">
          <span>записатися</span>
        </div>
      </div>
      <ul class="one-news-list">
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget sed sit
          tristique ornare enim. Dui aliquam urna, enim id eget et dolor
          aliquam. Pretium, ridiculus in ipsum donec dolor nullam suspendisse
          fringilla egestas. Quam magna viverra ac diam vitae. Vestibulum,
          volutpat pulvinar ac scelerisque erat rutrum amet in vitae.<strong>
            Aliquam etiam tempor arcu ac.</strong
          >
          Ullamcorper aliquet facilisi leo et phasellus amet tincidunt. Purus
          adipiscing eleifend massa feugiat venenatis. Donec morbi at nec
          pellentesque venenatis. Dictum id vestibulum. Ullamcorper aliquet
          facilisi leo et phasellus amet tincidunt. Purus adipiscing eleifend
          massa feugiat venenatis. Donec morbi at nec pellentesque venenatis.
          Dictum id vestibulum. Ullamcorper aliquet facilisi leo et phasellus
          amet tincidunt. Purus adipiscing eleifend massa feugiat venenatis.
          Donec morbi at nec pellentesque venenatis.
        </li>
      </ul>
      <div class="one-quote">
        <div class="one-quote-content">
          <div class="one-quote-left">
            <div class="one-quote-left-photo">
              <img src="/images/90.jpg" alt="i" />
            </div>
            <div class="one-quote-left-name">Лідія Білас</div>
            <div class="one-quote-left-post">
              Засновниця мережі освітніх проектів МрійДій. Засновниця Освітнього
              центру
            </div>
          </div>
          <div class="one-quote-right">
            <div class="one-quote-icon">
              <img src="/images/icon92.svg" alt="i" />
            </div>
            <p>Nam sagittis ut sed velit purus nibh.</p>
            <p>
              <em
                >Maecenas ut nisi est eu cursus facilisis. Enim duis tortor,
                odio aliquam in tellus eu sit elit. Eget nec lorem vel ut vitae
                molestie. Amet aliquam auctor tincidunt risus in scelerisque
                convallis justo.</em
              >
            </p>
          </div>
        </div>
      </div>
      <div class="one-quote bg2">
        <div class="one-quote-content">
          <div class="one-quote-left color2">
            <div class="one-quote-left-photo">
              <img src="/images/90.jpg" alt="i" />
            </div>
            <div class="one-quote-left-name">Лідія Білас</div>
            <div class="one-quote-left-post">Засновниця</div>
          </div>
          <div class="one-quote-right">
            <div class="one-quote-icon color2">
              <img src="/images/icon92.svg" alt="i" />
            </div>
            <p>
              Nam sagittis ut sed velit purus nibh.
              <a href="/">Eu neque id donec</a> mattis urna. Id pellentesque sed
              amet augue commodo neque, elementum.
              <strong
                >Vitae fermentum, orci ultrices integer. Sit a integer a id eget
                donec scelerisque nunc nunc.</strong
              >
              Blandit condimentum egestas odio aliquet. Morbi lobortis
              consectetur consectetur viverra nec. Nam sagittis ut sed velit
              purus nibh.
            </p>
            <ul>
              <li>
                професійна команда мрійників, які впевнено крокують до своєї
                мети.
              </li>
              <li>формування цілей та мрій, планування їх та рефлексії;</li>
            </ul>
            <p>
              <em
                >Maecenas ut nisi est eu cursus facilisis. Enim duis tortor,
                odio aliquam in tellus eu sit elit. Eget nec lorem vel ut vitae
                molestie. Amet aliquam auctor tincidunt risus in scelerisque
                convallis justo.</em
              >
            </p>
          </div>
        </div>
      </div>
      <div class="one-quote bg3">
        <div class="one-quote-content">
          <div class="one-quote-left color3">
            <div class="one-quote-left-photo">
              <img src="/images/90.jpg" alt="i" />
            </div>
            <div class="one-quote-left-name">Лідія Білас</div>
            <div class="one-quote-left-post">
              Засновниця мережі освітніх проектів МрійДій. Засновниця Освітнього
              центру
            </div>
          </div>
          <div class="one-quote-right">
            <div class="one-quote-icon color3">
              <img src="/images/icon92.svg" alt="i" />
            </div>
            <p>
              Nam sagittis ut sed velit purus nibh.
              <a href="/">Eu neque id donec</a> mattis urna. Id pellentesque sed
              amet augue commodo neque, elementum.
              <strong
                >Vitae fermentum, orci ultrices integer. Sit a integer a id eget
                donec scelerisque nunc nunc.</strong
              >
              Blandit condimentum egestas odio aliquet. Morbi lobortis
              consectetur consectetur viverra nec. Nam sagittis ut sed velit
              purus nibh.
            </p>
            <ul>
              <li>
                професійна команда мрійників, які впевнено крокують до своєї
                мети.
              </li>
              <li>формування цілей та мрій, планування їх та рефлексії;</li>
            </ul>
            <p>
              <em
                >Maecenas ut nisi est eu cursus facilisis. Enim duis tortor,
                odio aliquam in tellus eu sit elit. Eget nec lorem vel ut vitae
                molestie. Amet aliquam auctor tincidunt risus in scelerisque
                convallis justo.</em
              >
            </p>
          </div>
        </div>
      </div>
      <div class="one-quote bg4">
        <div class="one-quote-content">
          <div class="one-quote-left color4">
            <div class="one-quote-left-photo">
              <img src="/images/90.jpg" alt="i" />
            </div>
            <div class="one-quote-left-name">Лідія Білас</div>
            <div class="one-quote-left-post">
              Засновниця мережі освітніх проектів МрійДій. Засновниця Освітнього
              центру
            </div>
          </div>
          <div class="one-quote-right">
            <div class="one-quote-icon color4">
              <img src="/images/icon92.svg" alt="i" />
            </div>
            <p>
              Nam sagittis ut sed velit purus nibh.
              <a href="/">Eu neque id donec</a> mattis urna. Id pellentesque sed
              amet augue commodo neque, elementum.
              <strong
                >Vitae fermentum, orci ultrices integer. Sit a integer a id eget
                donec scelerisque nunc nunc.</strong
              >
              Blandit condimentum egestas odio aliquet. Morbi lobortis
              consectetur consectetur viverra nec. Nam sagittis ut sed velit
              purus nibh.
            </p>
            <ul>
              <li>
                професійна команда мрійників, які впевнено крокують до своєї
                мети.
              </li>
              <li>формування цілей та мрій, планування їх та рефлексії;</li>
            </ul>
            <p>
              <em
                >Maecenas ut nisi est eu cursus facilisis. Enim duis tortor,
                odio aliquam in tellus eu sit elit. Eget nec lorem vel ut vitae
                molestie. Amet aliquam auctor tincidunt risus in scelerisque
                convallis justo.</em
              >
            </p>
          </div>
        </div>
      </div>
      <div class="one-quote bg5">
        <div class="one-quote-content">
          <div class="one-quote-left color5">
            <div class="one-quote-left-photo">
              <img src="/images/90.jpg" alt="i" />
            </div>
            <div class="one-quote-left-name">Лідія Білас</div>
            <div class="one-quote-left-post">
              Засновниця мережі освітніх проектів МрійДій. Засновниця Освітнього
              центру
            </div>
          </div>
          <div class="one-quote-right">
            <div class="one-quote-icon color5">
              <img src="/images/icon92.svg" alt="i" />
            </div>
            <p>
              Nam sagittis ut sed velit purus nibh.
              <a href="/">Eu neque id donec</a> mattis urna. Id pellentesque sed
              amet augue commodo neque, elementum.
              <strong
                >Vitae fermentum, orci ultrices integer. Sit a integer a id eget
                donec scelerisque nunc nunc.</strong
              >
              Blandit condimentum egestas odio aliquet. Morbi lobortis
              consectetur consectetur viverra nec. Nam sagittis ut sed velit
              purus nibh.
            </p>
            <ul>
              <li>
                професійна команда мрійників, які впевнено крокують до своєї
                мети.
              </li>
              <li>формування цілей та мрій, планування їх та рефлексії;</li>
            </ul>
            <p>
              <em
                >Maecenas ut nisi est eu cursus facilisis. Enim duis tortor,
                odio aliquam in tellus eu sit elit. Eget nec lorem vel ut vitae
                molestie. Amet aliquam auctor tincidunt risus in scelerisque
                convallis justo.</em
              >
            </p>
          </div>
        </div>
      </div>
      <div class="one-quote">
        <div class="one-quote-content">
          <div class="one-quote-left">
            <div class="one-quote-left-name">Лідія Білас</div>
            <div class="one-quote-left-post">
              Засновниця мережі освітніх проектів МрійДій. Засновниця Освітнього
              центру
            </div>
          </div>
          <div class="one-quote-right">
            <div class="one-quote-icon color5">
              <img src="/images/icon92.svg" alt="i" />
            </div>
            <p>
              Nam sagittis ut sed velit purus nibh.
              <a href="/">Eu neque id donec</a> mattis urna. Id pellentesque sed
              amet augue commodo neque, elementum.
              <strong
                >Vitae fermentum, orci ultrices integer. Sit a integer a id eget
                donec scelerisque nunc nunc.</strong
              >
              Blandit condimentum egestas odio aliquet. Morbi lobortis
              consectetur consectetur viverra nec. Nam sagittis ut sed velit
              purus nibh.
            </p>
            <ul>
              <li>
                професійна команда мрійників, які впевнено крокують до своєї
                мети.
              </li>
              <li>формування цілей та мрій, планування їх та рефлексії;</li>
            </ul>
            <p>
              <em
                >Maecenas ut nisi est eu cursus facilisis. Enim duis tortor,
                odio aliquam in tellus eu sit elit. Eget nec lorem vel ut vitae
                molestie. Amet aliquam auctor tincidunt risus in scelerisque
                convallis justo.</em
              >
            </p>
          </div>
        </div>
      </div>
      <div class="one-quote bg5">
        <div class="one-quote-content">
          <div class="one-quote-left color5">
            <div class="one-quote-left-photo">
              <img src="/images/90.jpg" alt="i" />
            </div>
          </div>
          <div class="one-quote-right">
            <div class="one-quote-icon color5">
              <img src="/images/icon92.svg" alt="i" />
            </div>
            <p>
              Nam sagittis ut sed velit purus nibh.
              <a href="/">Eu neque id donec</a> mattis urna. Id pellentesque sed
              amet augue commodo neque, elementum.
              <strong
                >Vitae fermentum, orci ultrices integer. Sit a integer a id eget
                donec scelerisque nunc nunc.</strong
              >
              Blandit condimentum egestas odio aliquet. Morbi lobortis
              consectetur consectetur viverra nec. Nam sagittis ut sed velit
              purus nibh.
            </p>
            <ul>
              <li>
                професійна команда мрійників, які впевнено крокують до своєї
                мети.
              </li>
              <li>формування цілей та мрій, планування їх та рефлексії;</li>
            </ul>
            <p>
              <em
                >Maecenas ut nisi est eu cursus facilisis. Enim duis tortor,
                odio aliquam in tellus eu sit elit. Eget nec lorem vel ut vitae
                molestie. Amet aliquam auctor tincidunt risus in scelerisque
                convallis justo.</em
              >
            </p>
          </div>
        </div>
      </div>
      <div class="one-quote bg3">
        <div class="one-quote-content">
          <div class="one-quote-right">
            <div class="one-quote-icon color5">
              <img src="/images/icon92.svg" alt="i" />
            </div>
            <p>
              Nam sagittis ut sed velit purus nibh.
              <a href="/">Eu neque id donec</a> mattis urna. Id pellentesque sed
              amet augue commodo neque, elementum.
              <strong
                >Vitae fermentum, orci ultrices integer. Sit a integer a id eget
                donec scelerisque nunc nunc.</strong
              >
              Blandit condimentum egestas odio aliquet. Morbi lobortis
              consectetur consectetur viverra nec. Nam sagittis ut sed velit
              purus nibh.
            </p>
            <ul>
              <li>
                професійна команда мрійників, які впевнено крокують до своєї
                мети.
              </li>
              <li>формування цілей та мрій, планування їх та рефлексії;</li>
            </ul>
            <p>
              <em
                >Maecenas ut nisi est eu cursus facilisis. Enim duis tortor,
                odio aliquam in tellus eu sit elit. Eget nec lorem vel ut vitae
                molestie. Amet aliquam auctor tincidunt risus in scelerisque
                convallis justo.</em
              >
            </p>
          </div>
        </div>
      </div>
      <div class="one-news-youtube">
        <div class="youtube-video">
          <iframe
            class="youtube-video-iframe"
            src="https://www.youtube.com/embed/ztVV54sPOns"
            title="Travel the Universe While Relaxation ★ Space Ambient Music"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="one-news-interesting-fluid">
    <div class="one-news-interesting-centered">
      <div class="one-news-interesting-title">ВАМ МОЖЕ БУТИ ЦІКАВО</div>
      <div class="one-news-interesting-slider">
        <a href="/" class="one-news-interesting-item">
          <div class="one-news-interesting-item-inner">
            <div class="one-news-interesting-item-image">
              <img src="/images/66.jpg" alt="i" />
              <div class="one-news-interesting-item-image-tag">новини</div>
            </div>
            <div class="one-news-interesting-item-name">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem
              ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
            <div class="one-news-interesting-item-date">22/08/2022</div>
          </div>
        </a>
        <a href="/" class="one-news-interesting-item">
          <div class="one-news-interesting-item-inner">
            <div class="one-news-interesting-item-image">
              <img src="/images/67.jpg" alt="i" />
              <div class="one-news-interesting-item-image-tag">подіЇ</div>
            </div>
            <div class="one-news-interesting-item-name">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
            <div class="one-news-interesting-item-date">22/08/2022</div>
          </div>
        </a>
        <a href="/" class="one-news-interesting-item">
          <div class="one-news-interesting-item-inner">
            <div class="one-news-interesting-item-image">
              <img src="/images/68.jpg" alt="i" />
              <div class="one-news-interesting-item-image-tag">
                корисні статті
              </div>
            </div>
            <div class="one-news-interesting-item-name">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
            <div class="one-news-interesting-item-date">22/08/2022</div>
          </div>
        </a>
      </div>
    </div>
  </div>

  {% include './components/_footer.html' %}
</main>

{% endblock %} {% block footer_scripts %} {% endblock %}
