{% set body_class = "vacancies-page" %} {% extends "./_layout.html" %} {% block
content %}
<main class="vacancies-main">
  {% include './components/_header.html' %}

  <div class="vacancies-hero">
    <div class="vacancies-hero-centered">
      <div class="vacancies-hero-left">
        <div class="vacancies-hero-title">
          <p>MRIYDIY</p>
          <span>вакансії</span>
        </div>
        <div class="vacancies-hero-description">
          Для тих, хто хоче приєднатися до команди мрії та виховувати людей
          майбутнього
        </div>
        <div class="online-first-btn">
          <div class="online-first-btn-bg"></div>
          <span>дізнатися більше</span>
        </div>
      </div>
      <div class="vacancies-hero-right">
        <div class="vacancies-hero-right-image">
          <img src="/images/91.png" alt="i" />
        </div>
      </div>
    </div>
  </div>

  <div class="vacancies-second">
    <div class="vacancies-second-content">
      <div class="vacancies-second-title">
        Бажаєте долучитися до команди MRIYDIY?
      </div>
      <div class="vacancies-second-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ipsum
        facilisis condimentum sed sed egestas enim blandit egestas. Aenean
        magnis ridiculus libero sit. Magna pulvinar nibh laoreet sit sit.
        Vulputate feugiat adipiscing donec bibendum et. Nullam gravida orci
        vulputate laoreet ut sagittis risus in sodales. Ipsum augue elementum
        ultricies et. Sit neque, malesuada lectus risus cras est venenatis. Ac,
        montes, ut odio a, hendrerit vulputate. Et aliquet sagittis consectetur
        est. Proin sed nulla viverra tristique. Odio tellus, sodales a,
        ullamcorper. Amet quis ut metus eu sit tristique. Felis, ac commodo in
        cursus purus non diam, tellus.
      </div>
      <div class="vacancies-second-image">
        <img src="/images/92.png" alt="i" />
      </div>
    </div>
  </div>

  <div class="vacancies-offer">
    <div class="vacancies-offer-centered">
      <div class="vacancies-offer-title">що ми пропонуємо?</div>
      <div class="vacancies-offer-container">
        <div class="vacancies-offer-item">
          <div class="vacancies-offer-item-icon">
            <img src="/images/icon99.svg" alt="i" />
          </div>
          <div class="vacancies-offer-item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
        </div>
        <div class="vacancies-offer-item">
          <div class="vacancies-offer-item-icon">
            <img src="/images/icon99.svg" alt="i" />
          </div>
          <div class="vacancies-offer-item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
        </div>
        <div class="vacancies-offer-item">
          <div class="vacancies-offer-item-icon">
            <img src="/images/icon99.svg" alt="i" />
          </div>
          <div class="vacancies-offer-item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
        </div>
        <div class="vacancies-offer-item">
          <div class="vacancies-offer-item-icon">
            <img src="/images/icon99.svg" alt="i" />
          </div>
          <div class="vacancies-offer-item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
        </div>
        <div class="vacancies-offer-item">
          <div class="vacancies-offer-item-icon">
            <img src="/images/icon99.svg" alt="i" />
          </div>
          <div class="vacancies-offer-item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
        </div>
        <div class="vacancies-offer-item">
          <div class="vacancies-offer-item-icon">
            <img src="/images/icon99.svg" alt="i" />
          </div>
          <div class="vacancies-offer-item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
        </div>
        <div class="vacancies-offer-item">
          <div class="vacancies-offer-item-icon">
            <img src="/images/icon99.svg" alt="i" />
          </div>
          <div class="vacancies-offer-item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
        </div>
        <div class="vacancies-offer-item">
          <div class="vacancies-offer-item-icon">
            <img src="/images/icon99.svg" alt="i" />
          </div>
          <div class="vacancies-offer-item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
        </div>
        <div class="vacancies-offer-item">
          <div class="vacancies-offer-item-icon">
            <img src="/images/icon99.svg" alt="i" />
          </div>
          <div class="vacancies-offer-item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="vacancies-youtube">
    <div class="vacancies-youtube-centered">
      <div class="vacancies-youtube-video">
        <iframe
          src="https://www.youtube.com/embed/CjBoK8f47EI?list=PLw1GDxO7G8onYy8ZgVx_QughDa9VGfjMn"
          title="No Copyright Video, Background, Green Screen, Motion Graphics, Animated Background, Copyright Free"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>

  <div class="vacancies-hire" id="vacancies-hire">
    <div class="vacancies-hire-centered">
      <div class="vacancies-hire-title">вакансії</div>
      <div class="vacancies-hire-slider">
        <div class="vacancies-hire-slider-item">
          <div class="vacancies-hire-slider-item-name">Вчитель</div>
          <div class="vacancies-hire-slider-item-address">Адреса школи</div>
          <div class="vacancies-hire-slider-item-duti">обов’язки:</div>
          <ul class="vacancies-hire-slider-item-list">
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          </ul>
          <div
            class="vacancies-hire-slider-item-btn js-modal-link"
            data-target="respondv-popup"
          >
            відгукнутися
          </div>
        </div>
        <div class="vacancies-hire-slider-item">
          <div class="vacancies-hire-slider-item-name">Вчитель</div>
          <div class="vacancies-hire-slider-item-address">Адреса школи</div>
          <div class="vacancies-hire-slider-item-duti">обов’язки:</div>
          <ul class="vacancies-hire-slider-item-list">
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          </ul>
          <div
            class="vacancies-hire-slider-item-btn js-modal-link"
            data-target="respondv-popup"
          >
            відгукнутися
          </div>
        </div>
        <div class="vacancies-hire-slider-item">
          <div class="vacancies-hire-slider-item-name">Вчитель</div>
          <div class="vacancies-hire-slider-item-address">Адреса школи</div>
          <div class="vacancies-hire-slider-item-duti">обов’язки:</div>
          <ul class="vacancies-hire-slider-item-list">
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
          </ul>
          <div
            class="vacancies-hire-slider-item-btn js-modal-link"
            data-target="respondv-popup"
          >
            відгукнутися
          </div>
        </div>
      </div>
      <div class="online-faq-more">
        <div class="online-faq-more-bg"></div>
        <div class="online-faq-more-btn">більше</div>
      </div>
    </div>
  </div>

  <div class="vacancies-send">
    <div class="vacancies-send-centered">
      <div class="vacancies-send-title">не знайшли потрібної вакансії?</div>
      <div class="vacancies-send-icon">
        <img src="/images/93.png" alt="i" />
      </div>
      <form action="#" class="vacancies-send-form">
        <div class="vacancies-send-input">
          <input type="text" placeholder="email*" id="vacanciesEmail" />
          <div class="error-text">*це поле є обов’язковим</div>
        </div>
        <label class="input-file">
          <input type="file" name="file" />
          <span>+ прикріпити резюме</span>
        </label>
        <button class="vacancies-send-submit-btn" type="submit">
          надіслати
        </button>
      </form>
    </div>
  </div>

  <div class="home-news-fluid">
    <div class="home-news-centered">
      <div class="home-news-top">
        <div class="home-news-top-title">НОВИНИ ТА ПОДІЇ</div>
        <div class="home-news-top-links home-news-top-tabs">
          <div
            class="home-news-top-links-item home-news-top-tabs-item"
            data-tab="news"
          >
            новини
          </div>
          <div
            class="home-news-top-links-item home-news-top-tabs-item"
            data-tab="events"
          >
            події
          </div>
          <div
            class="home-news-top-links-item home-news-top-tabs-item"
            data-tab="articles"
          >
            корисні статті
          </div>
          <div
            class="home-news-top-links-item home-news-top-tabs-item"
            data-tab="all"
          >
            усі матеріали
          </div>
        </div>
      </div>
      <div class="home-news-container" data-content="news">
        <div class="home-news-item">
          <div class="home-news-item-images">
            <img src="/images/13.jpg" alt="img" />
            <div class="home-news-item-tag">новини</div>
          </div>
          <div class="home-news-item-heading">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum
            dolor sit amet, consectetur adipiscing elit.
          </div>
          <div class="home-news-item-date">22/08/2022</div>
        </div>
        <div class="home-news-item">
          <div class="home-news-item-images">
            <img src="/images/15.jpg" alt="img" />
            <div class="home-news-item-tag">новини</div>
          </div>
          <div class="home-news-item-heading">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum
            dolor sit amet, consectetur adipiscing elit.
          </div>
          <div class="home-news-item-date">22/08/2022</div>
        </div>
      </div>
      <div class="home-news-container" data-content="events">
        <div class="home-news-item">
          <div class="home-news-item-images">
            <img src="/images/14.jpg" alt="img" />
            <div class="home-news-item-tag">події</div>
          </div>
          <div class="home-news-item-heading">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
          <div class="home-news-item-date">22/08/2022</div>
        </div>
        <div class="home-news-item">
          <div class="home-news-item-images">
            <img src="/images/15.jpg" alt="img" />
            <div class="home-news-item-tag">події</div>
          </div>
          <div class="home-news-item-heading">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
          <div class="home-news-item-date">22/08/2022</div>
        </div>
      </div>
      <div class="home-news-container" data-content="articles">
        <div class="home-news-item">
          <div class="home-news-item-images">
            <img src="/images/14.jpg" alt="img" />
            <div class="home-news-item-tag">корисні статті</div>
          </div>
          <div class="home-news-item-heading">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
          <div class="home-news-item-date">22/08/2022</div>
        </div>
        <div class="home-news-item">
          <div class="home-news-item-images">
            <img src="/images/13.jpg" alt="img" />
            <div class="home-news-item-tag">корисні статті</div>
          </div>
          <div class="home-news-item-heading">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
          <div class="home-news-item-date">22/08/2022</div>
        </div>
        <div class="home-news-item">
          <div class="home-news-item-images">
            <img src="/images/15.jpg" alt="img" />
            <div class="home-news-item-tag">корисні статті</div>
          </div>
          <div class="home-news-item-heading">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
          <div class="home-news-item-date">22/08/2022</div>
        </div>
      </div>

      <div class="home-news-more">
        <div class="home-news-more-bg"></div>
        <div class="home-news-more-btn">більше</div>
      </div>
    </div>
  </div>

  {% include './components/_home-social.html' %} {% include
  './components/_footer.html' %}
</main>

{% endblock %} {% block footer_scripts %} {% endblock %}
