<footer class="footer">
  <div class="footer-top-fluid">
    <div class="footer-top-centered">
      <div class="footer-left">
        <div class="footer-logo">
          <img src="/images/logo.svg" alt="img">
        </div>
      </div>
      <div class="footer-right">
        <div class="footer-right-column1">
          <div class="footer-right-column1-item">
            <span>Школа</span>
            <p>MRIYDIY</p>
          </div>
          <div class="footer-right-column1-item">
            <span>Садок</span>
            <p>MRIYDIY</p>
          </div>
          <div class="footer-right-column1-item">
            <span>Табори</span>
            <p>MRIYDIY</p>
          </div>
        </div>
        <div class="footer-right-column2">
          <div class="footer-right-column-heading">
            Інші формати навчання
          </div>
          <a href="/" class="footer-right-column-item">
            Онлайн
          </a>
          <a href="/" class="footer-right-column-item">
            Єкстернат
          </a>
          <a href="/" class="footer-right-column-item">
            Project School
          </a>
          <a href="/" class="footer-right-column-item">
            Записатися на навчання
          </a>
          <a href="/" class="footer-right-column-item">
            Записатися на день відкритих дверей
          </a>
        </div>
        <div class="footer-right-column3">
          <div class="footer-right-column-heading">
            Контакти
          </div>
          <a href="/" class="footer-right-column-item">
            +380501234567
          </a>
          <a href="/" class="footer-right-column-item">
            +380971234567
          </a>
          <a href="/" class="footer-right-column-item">
            mriydiy@gmail.com
          </a>
          <div class="footer-right-banks">
            <img src="/images/banks.png" alt="i">
          </div>
        </div>
        <div class="footer-right-column4">
          <div class="footer-right-column-heading">
            Більше
          </div>
          <a href="/" class="footer-right-column-item">
            Новини та подіі
          </a>
          <a href="/" class="footer-right-column-item">
            Нормативні документи
          </a>
          <a href="/" class="footer-right-column-item">
            Вакансіі
          </a>
          <a href="/" class="footer-right-column-item">
            FAQ
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-down-fluid">
    <div class="footer-down-centered">
      <div class="footer-down-left">
        <span>©2022</span>
        <p>mriydiy</p>
      </div>
      <div class="footer-down-right">
        <a href="/" class="footer-down-right-item">
          политика конфіденційності
        </a>
      </div>
    </div>
  </div>

</footer>
