<header class="header-fluid">
  <div class="header-top">
    <div class="header-top-centered">
      <div class="header-top-phone">
        <img src="/images/icon110.svg" alt="i" />
        <a href="tel:0800 337 153">0800 337 153</a>
      </div>
      <div class="header-lang">
        <a href="/" class="header-lang-item active"> укр </a>
        <div class="header-lang-separator"></div>
        <a href="/" class="header-lang-item"> eng </a>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="header-centered">
      <a href="/" class="header-logo">
        <img src="/images/logo.svg" alt="img" />
      </a>
      <div class="header-menu">
        <!-- <a href="/" class="header-menu-item">
        <span>Про школу</span>
        <p>MRIYDIY</p>
      </a>
      <a href="/" class="header-menu-item">
        <span>Садок</span>
        <p>MRIYDIY</p>
      </a> -->
        <a href="/" class="header-menu-item">
          <span>Про школу</span>
        </a>
        <a href="/kindergarten.html" class="header-menu-item">
          <span>Про садок</span>
        </a>
        <div class="header-menu-item has-drop">
          <span>Інші формати</span>
          <svg
            width="14"
            height="5"
            viewBox="0 0 14 5"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1 0.5L7 4.5L13 0.5"
              stroke="#232323"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <div class="header-dropdown-menu">
            <a href="/online-school.html" class="header-dropdown-menu-item">
              онлайн школа
            </a>
            <a href="/externat.html" class="header-dropdown-menu-item">
              екстернат
            </a>
          </div>
        </div>
        <a href="/" class="header-menu-item">
          <span>Табори</span>
        </a>
        <a href="/" class="header-menu-item">
          <span>Клубы</span>
        </a>
        <a href="/contacts.html" class="header-menu-item">
          <span>Контакти</span>
        </a>
        <div class="header-menu-item has-drop">
          <span>Більше</span>
          <svg
            width="14"
            height="5"
            viewBox="0 0 14 5"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1 0.5L7 4.5L13 0.5"
              stroke="#232323"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <div class="header-dropdown-menu">
            <a href="/news.html" class="header-dropdown-menu-item">
              новини та події
            </a>
            <a href="/documents.html" class="header-dropdown-menu-item">
              нормативні документи
            </a>
            <a href="/" class="header-dropdown-menu-item"> вакансії </a>
            <a href="/faq.html" class="header-dropdown-menu-item"> FAQ </a>
          </div>
        </div>
      </div>

      <div class="header-right">
        <!-- <div class="header-enroll-btn js-modal-link" data-target="entry-popup">
          <div class="header-enroll-btn-bg"></div>
          <span>записатися</span>
        </div> -->
        <div class="header-right-tablet">
          <div class="header-top-phone">
            <img src="/images/icon110.svg" alt="i" />
            <a href="tel:0800 337 153">0800 337 153</a>
          </div>
          <div class="header-lang">
            <a href="/" class="header-lang-item active"> укр </a>
            <div class="header-lang-separator"></div>
            <a href="/" class="header-lang-item"> eng </a>
          </div>
        </div>
        <div class="header-burger">
          <img src="/images/burger.svg" alt="img" />
        </div>
      </div>
    </div>
  </div>
</header>
