<div class="home-social-fluid">
  <div class="home-social-centered">
    <div class="home-social-container">
      <a href="/" target="_blank" class="home-social-item">
        <img src="/images/fb.svg" alt="img">
      </a>
      <a href="/" target="_blank" class="home-social-item">
        <img src="/images/yt.svg" alt="img">
      </a>
      <a href="/" target="_blank" class="home-social-item">
        <img src="/images/insta.svg" alt="img">
      </a>
      <a href="/" target="_blank" class="home-social-item">
        <img src="/images/in.svg" alt="img">
      </a>
      <a href="/" target="_blank" class="home-social-item">
        <img src="/images/tik.svg" alt="img">
      </a>
    </div>
  </div>
</div>
