<div class="home-request-fluid" id="home-request">
  <div class="home-request-centered">
    <div class="home-request-left">
      <div class="home-request-title">
        Подати заявку на вступ або день відкритих дверей
        <div class="request-gif-img">
          <img src="/images/arrow-gif.gif" alt="i" />
        </div>
      </div>
      <div class="home-request-background">
        <div class="home-request-bg1 js-request-anim">
          <img src="/images/icon13.svg" alt="img" />
        </div>
        <div class="home-request-bg2 js-request-anim">
          <img src="/images/icon13.svg" alt="img" />
        </div>
      </div>
    </div>
    <form action="" class="home-request-form">
      <div class="home-request-input error">
        <input type="text" placeholder="ВАше імʼя*" id="requestName" />
        <div class="input-error-text">*це поле є обов’язковим</div>
      </div>
      <div class="home-request-input">
        <input type="text" placeholder="номер телефону*" id="requestPhone" />
        <div class="input-error-text">*це поле є обов’язковим</div>
      </div>
      <div class="home-request-input error">
        <input type="text" placeholder="email*" id="requestEmail" />
        <div class="input-error-text">*це поле є обов’язковим</div>
      </div>
      <div class="home-request-input">
        <input
          type="text"
          placeholder="скільки років вашій дитині"
          id="requestOld"
        />
        <div class="input-error-text">*це поле є обов’язковим</div>
      </div>
      <div class="externat-form-select error">
        <select required class="select-css">
          <option value="" disabled selected hidden>оберіть табір</option>
          <option value="виїзний">міжнародний</option>
          <option value="виїзний">виїзний</option>
        </select>
        <div class="input-error-text">*це поле є обов’язковим</div>
      </div>
      <button class="home-request-button" type="submit">надіслати</button>
    </form>
  </div>
</div>
