<div class="home-team-fluid">
  <div class="home-team-centered">
    <div class="home-team-left">
      <div class="home-team-left-top">
        <div class="home-team-left-title">
          КОМАНДА
        </div>
        <div class="home-team-left-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing
          elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
      </div>
      <a href="/" class="home-team-left-btn">
        <div class="home-team-left-btn-bg"></div>
        <span>уся команда</span>
      </a>
    </div>
    <div class="home-team-container">
      <div class="home-team-item js-modal-link" data-target="stuff-popup">
        <div class="home-team-item-name">
          Імʼяяяяяяя Прізвищеееееее
        </div>
        <div class="home-team-item-separator"></div>
        <div class="home-team-item-post">
          Викладач Фізикииииииииииииииии
        </div>
        <div class="home-team-item-photo">
          <div class="home-team-item-photo-icon">
            <img src="/images/icon14.svg" alt="img">
          </div>
          <div class="home-team-item-photo-image">
            <img src="/images/16.png" alt="img">
          </div>
        </div>
      </div>
      <div class="home-team-item js-modal-link" data-target="stuff-popup">
        <div class="home-team-item-name">
          Імʼя Прізвище
        </div>
        <div class="home-team-item-separator"></div>
        <div class="home-team-item-post">
          Викладач Фізики
        </div>
        <div class="home-team-item-photo">
          <div class="home-team-item-photo-icon">
            <img src="/images/icon14.svg" alt="img">
          </div>
          <div class="home-team-item-photo-image">
            <img src="/images/17.png" alt="img">
          </div>
        </div>
      </div>
    </div>
    <a href="/" class="home-team-left-btn-mob">
      <div class="home-team-left-btn-bg"></div>
      <span>уся команда</span>
    </a>
  </div>
</div>
