<div class="home-videos-fluid">
  <div class="home-videos-centered">
    <div class="home-videos-top">
      <div class="home-videos-top-title">
        ЯК МИ НАВЧАЄМО, МРІЄМО ТА ДІЄМО
      </div>
      <!-- <div class="home-videos-filters">
        <div class="home-videos-filters-btn">
          <span>фільтри</span>
          <img src="/images/icon5.svg" alt="img">
        </div>
        <div class="home-filters-drop">
          <div class="home-filters-drop-inner">
            <div class="home-filters-drop-item">
              <input type="checkbox" id="cb1"> <label for="cb1">
                школа
              </label>
            </div>
            <div class="home-filters-drop-item">
              <input type="checkbox" id="cb2"> <label for="cb2">
                садок
              </label>
            </div>
            <div class="home-filters-drop-item">
              <input type="checkbox" id="cb3"> <label for="cb3">
                табори
              </label>
            </div>
            <div class="home-filters-drop-item">
              <input type="checkbox" id="cb4"> <label for="cb4">
                позашкільні клуби
              </label>
            </div>
            <div class="home-filters-drop-item">
              <input type="checkbox" id="cb5"> <label for="cb5">
                освітня фундація
              </label>
            </div>
          </div>
        </div>
      </div> -->
    </div>

    <div class="home-videos-slider">
      <div class="home-videos-slider-item js-modal-link" data-target="youtube-popup">
        <div class="home-videos-slider-item-inner">
          <div class="home-videos-slider-item-image">
            <div class="home-videos-slider-item-image-icon">
              <img src="/images/icon52.svg" alt="img">
            </div>
            <div class="home-videos-slider-item-image-img">
              <img src="/images/51.jpg" alt="img">
            </div>
            <div class="home-videos-slider-item-image-logo">
              <img src="/images/logo2.png" alt="img">
            </div>
          </div>
          <div class="home-videos-slider-item-center">
            <div class="home-videos-slider-item-center-tag">
              Project school
            </div>
            <div class="home-videos-slider-item-center-date">
              22/08/2022
            </div>
          </div>
          <div class="home-videos-slider-item-name">
            Адаптація новенького у класі, що робити батькам
          </div>
        </div>
      </div>
      <div class="home-videos-slider-item js-modal-link" data-target="youtube-popup">
        <div class="home-videos-slider-item-inner">
          <div class="home-videos-slider-item-image">
            <div class="home-videos-slider-item-image-icon">
              <img src="/images/icon52.svg" alt="img">
            </div>
            <div class="home-videos-slider-item-image-img">
              <img src="/images/51.jpg" alt="img">
            </div>
            <div class="home-videos-slider-item-image-logo">
              <img src="/images/logo2.png" alt="img">
            </div>
          </div>
          <div class="home-videos-slider-item-center">
            <div class="home-videos-slider-item-center-tag">
              Project school
            </div>
            <div class="home-videos-slider-item-center-date">
              22/08/2022
            </div>
          </div>
          <div class="home-videos-slider-item-name">
            Адаптація новенького у класі, що робити батькам
          </div>
        </div>
      </div>
      <div class="home-videos-slider-item js-modal-link" data-target="youtube-popup">
        <div class="home-videos-slider-item-inner">
          <div class="home-videos-slider-item-image">
            <div class="home-videos-slider-item-image-icon">
              <img src="/images/icon52.svg" alt="img">
            </div>
            <div class="home-videos-slider-item-image-img">
              <img src="/images/51.jpg" alt="img">
            </div>
            <div class="home-videos-slider-item-image-logo">
              <img src="/images/logo2.png" alt="img">
            </div>
          </div>
          <div class="home-videos-slider-item-center">
            <div class="home-videos-slider-item-center-tag">
              Project school
            </div>
            <div class="home-videos-slider-item-center-date">
              22/08/2022
            </div>
          </div>
          <div class="home-videos-slider-item-name">
            Адаптація новенького у класі, що робити батькам
          </div>
        </div>
      </div>
      <div class="home-videos-slider-item js-modal-link" data-target="youtube-popup">
        <div class="home-videos-slider-item-inner">
          <div class="home-videos-slider-item-image">
            <div class="home-videos-slider-item-image-icon">
              <img src="/images/icon52.svg" alt="img">
            </div>
            <div class="home-videos-slider-item-image-img">
              <img src="/images/51.jpg" alt="img">
            </div>
            <div class="home-videos-slider-item-image-logo">
              <img src="/images/logo2.png" alt="img">
            </div>
          </div>
          <div class="home-videos-slider-item-center">
            <div class="home-videos-slider-item-center-tag">
              Project school
            </div>
            <div class="home-videos-slider-item-center-date">
              22/08/2022
            </div>
          </div>
          <div class="home-videos-slider-item-name">
            Адаптація новенького у класі, що робити батькам
          </div>
        </div>
      </div>


    </div>

    <!-- <div class="home-videos-container">
        <div class="home-videos-item">
          <div class="home-videos-item-video">
            <div class="youtube-video">
              <iframe src="https://www.youtube.com/embed/CjBoK8f47EI?list=PLw1GDxO7G8onYy8ZgVx_QughDa9VGfjMn"
                title="No Copyright Video, Background, Green Screen, Motion Graphics, Animated Background, Copyright Free"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
          <div class="home-videos-item-info">
            <div class="home-videos-item-info-tag">
              Project school
            </div>
            <div class="home-videos-item-info-date">
              22/08/2022
            </div>
          </div>
          <div class="home-videos-item-description">
            Адаптація новенького у класі, що робити батькам
          </div>
        </div>
        <div class="home-videos-item">
          <div class="home-videos-item-video">
            <div class="youtube-video">
              <iframe src="https://www.youtube.com/embed/CjBoK8f47EI?list=PLw1GDxO7G8onYy8ZgVx_QughDa9VGfjMn"
                title="No Copyright Video, Background, Green Screen, Motion Graphics, Animated Background, Copyright Free"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
          <div class="home-videos-item-info">
            <div class="home-videos-item-info-tag">
              Project school
            </div>
            <div class="home-videos-item-info-date">
              22/08/2022
            </div>
          </div>
          <div class="home-videos-item-description">
            Старт 2021 - 2022 навчальног року МРІЙ ДІЙ
          </div>
        </div>
        <div class="home-videos-item">
          <div class="home-videos-item-video">
            <div class="youtube-video">
              <iframe src="https://www.youtube.com/embed/CjBoK8f47EI?list=PLw1GDxO7G8onYy8ZgVx_QughDa9VGfjMn"
                title="No Copyright Video, Background, Green Screen, Motion Graphics, Animated Background, Copyright Free"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
          <div class="home-videos-item-info">
            <div class="home-videos-item-info-tag">
              Project school
            </div>
            <div class="home-videos-item-info-date">
              22/08/2022
            </div>
          </div>
          <div class="home-videos-item-description">
            Адаптація новенького у класі, що робити батькам
          </div>
        </div>
        <div class="home-videos-item">
          <div class="home-videos-item-video">
            <div class="youtube-video">
              <iframe src="https://www.youtube.com/embed/CjBoK8f47EI?list=PLw1GDxO7G8onYy8ZgVx_QughDa9VGfjMn"
                title="No Copyright Video, Background, Green Screen, Motion Graphics, Animated Background, Copyright Free"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>
          <div class="home-videos-item-info">
            <div class="home-videos-item-info-tag">
              Project school
            </div>
            <div class="home-videos-item-info-date">
              22/08/2022
            </div>
          </div>
          <div class="home-videos-item-description">
            Старт 2021 - 2022 навчальног року МРІЙ ДІЙ
          </div>
        </div>
      </div>
      <div class="home-videos-more">
        <div class="home-videos-more-bg">
        </div>
        <div class="home-videos-more-btn">
          менше
        </div>
      </div> -->
  </div>
</div>
