<div class="home-values-fluid">
  <div class="home-values-centered">
    <div class="home-values-title">
      НАШІ ЦІННОСТІ
    </div>
    <div class="home-values-container">
      <div class="home-values-item js-modal-link" data-target="value-popup">
        <div class="home-values-item-inner">
          <div class="home-values-item-img">
            <img src="/images/icon7.svg" alt="img">
          </div>
          <div class="home-values-item-name">
            СМІЛИВІСТЬ
          </div>
        </div>
      </div>
      <div class="home-values-item js-modal-link" data-target="value-popup">
        <div class="home-values-item-inner">
          <div class="home-values-item-img">
            <img src="/images/icon8.svg" alt="img">
          </div>
          <div class="home-values-item-name">
            ВЗАЄМОДІЯ
          </div>
        </div>
      </div>
      <div class="home-values-item js-modal-link" data-target="value-popup">
        <div class="home-values-item-inner">
          <div class="home-values-item-img">
            <img src="/images/icon9.svg" alt="img">
          </div>
          <div class="home-values-item-name">
            ВІДПОВІДАЛЬНІСТЬ
          </div>
        </div>
      </div>
      <div class="home-values-item js-modal-link" data-target="value-popup">
        <div class="home-values-item-inner">
          <div class="home-values-item-img">
            <img src="/images/icon10.svg" alt="img">
          </div>
          <div class="home-values-item-name">
            РОЗВИТОК
          </div>
        </div>
      </div>
      <div class="home-values-item js-modal-link" data-target="value-popup">
        <div class="home-values-item-inner">
          <div class="home-values-item-img">
            <img src="/images/icon11.svg" alt="img">
          </div>
          <div class="home-values-item-name">
            ГІДНІСТЬ
          </div>
        </div>
      </div>
      <div class="home-values-item js-modal-link" data-target="value-popup">
        <div class="home-values-item-inner">
          <div class="home-values-item-img">
            <img src="/images/icon12.svg" alt="img">
          </div>
          <div class="home-values-item-name">
            ПОВАГА
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
