<div class="home-price-fluid">
  <div class="home-price-centered">
    <div class="home-price-bg-1">
      <img src="/images/icon15.svg" alt="img">
    </div>
    <div class="home-price-bg-2">
      <img src="/images/icon15.svg" alt="img">
    </div>
    <div class="home-price-tag">ціни</div>
    <div class="home-price-title">навчитись мріяти
      коштує не дорого</div>
    <div class="home-price-description">Ціни за 2022 навчальній рік, стартують від 10000грн до 100000грн на рік</div>
    <div class="home-price-btn">
      <span>детальніше</span>
      <div class="home-price-btn-bg"></div>
    </div>
  </div>
</div>
