<div class="menu-wrapper">
  <div class="menu-close js-hide-cursor">
    <img src="/images/close4.svg" alt="img" />
  </div>

  <div class="menu-content">
    <div class="menu-content-up">
      <div class="menu-header">
        <div class="menu-header-logo">
          <img src="/images/logo.svg" alt="img" />
        </div>
      </div>
      <!-- <a href="/" class="menu-top-link">
        <span>Про школу</span>
        <p>MRIYDIY</p>
      </a>
      <a href="/" class="menu-top-link">
        <span>Садок</span>
        <p>MRIYDIY</p>
      </a> -->
      <a href="/" class="menu-simple-link"> Про школу </a>
      <a href="/kindergarten.html" class="menu-simple-link"> Про садок </a>
      <div class="menu-opened">
        <div class="menu-opened-heading">
          <span>Інші формати</span>
          <svg
            width="14"
            height="6"
            viewBox="0 0 14 6"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13 5L7 1L1 5"
              stroke="#232323"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="menu-dropdown">
          <a href="/online-school.html" class="menu-dropdown-link">
            онлайн школа
          </a>
          <a href="/externat.html" class="menu-dropdown-link"> екстернат </a>
        </div>
      </div>
      <a href="/" class="menu-simple-link"> Табори </a>
      <a href="/" class="menu-simple-link"> Клубы </a>
      <a href="/contacts.html" class="menu-simple-link"> Контакти </a>
      <div class="menu-opened">
        <div class="menu-opened-heading">
          <span>Більше</span>
          <svg
            width="14"
            height="6"
            viewBox="0 0 14 6"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13 5L7 1L1 5"
              stroke="#232323"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <div class="menu-dropdown">
          <a href="/news.html" class="menu-dropdown-link"> новини та події </a>
          <a href="/documents.html" class="menu-dropdown-link">
            нормативні документи
          </a>
          <a href="/" class="menu-dropdown-link"> вакансії </a>
          <a href="/faq.html" class="menu-dropdown-link"> FAQ </a>
        </div>
      </div>
    </div>
    <div class="menu-phone">
      <img src="/images/icon110.svg" alt="i" />
      <a href="tel:0800 337 153">0800 337 153</a>
    </div>
    <!-- <div class="menu-content-down">
      <div class="menu-content-down-btn">
        <span>записатися</span>
        <div class="menu-content-down-btn-bg"></div>
      </div>
    </div> -->
  </div>
</div>
